﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <div class="bar bar-subheader" style="display: block;padding-top: 0;">
        <div><b>Site Check</b></div>
        <div>{{jobName}}</div>
    </div>
    <ion-content class="has-subheader has-wide-subheader">
        <div class="list" style="margin-bottom: 0">
            <div class="item">
                Time<span style="float: right;">{{fields.startTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
        </div>
        <div class="grid-border">
            <div class="list">
                <div class="item wrap-item" ng-repeat-start="item in siteCheckItems" ng-click="CheckItem(item)">
                    {{item.itemName}}
                </div>
                <div class="item no-vr-pad" ng-repeat-end>
                    <div class="button-bar">
                        <button type="button" class="button button-icon icon ion-camera" ng-class="{ 'assertive': item.photos.length > 0}" ng-click="GetPhoto(item)" ng-disabled="fields.complete"></button>
                        <button type="button" class="button button-icon icon ion-close" ng-style="item.checkedWithIssuesStyle" ng-click="setCheckedWithIssues(item)" ng-disabled="fields.complete"></button>
                        <button type="button" class="button button-icon icon ion-checkmark" ng-style="item.checkedStyle" ng-click="setChecked(item)" ng-disabled="fields.complete"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item item-input item-stacked-label">
                <button type="button" class="button button-icon icon button-inline-right" ng-click="voiceToText()">
                    <i class="ion-mic-a"></i>
                    <i class="ion-arrow-right-a"></i>
                    <i class="ion-compose"></i>
                </button>
                <span class="input-label">Notes</span>
                <textarea rows="4" ng-model="fields.notes"></textarea>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable" ng-class="{ 'hide-section': !(fields.id == null) }">            
            <button type="button" class="button button-clear button-positive" ng-click="Done()">Done</button>
            <button type="button" class="button button-clear" ng-click="Cancel()">Cancel</button>
        </div>
        <div class="button-bar bar-stable" ng-class="{ 'hide-section': !(fields.id != null) }">
            <button type="button" class="button button-clear button-icon ion-chevron-left" ng-click="Cancel()">Back</button>
        </div>
    </ion-footer-bar>
</ion-view>