﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <div class="bar bar-subheader" style="display: block;padding-top: 0;">
        <div><b>Site Check Item</b></div>
        <div>{{jobName}}</div>
    </div>
    <!--<ion-header-bar align-title="left" class="bar-subheader bar-stable subheader wide-subheader">
        <div class="title"><strong>Site Check Item</strong></div>
        <div class="subtitle">{{jobName}}</div>
    </ion-header-bar>-->
    <ion-content class="has-subheader has-wide-subheader">
        <div class="list">
            <div class="item item-toggle wrap-item">
                {{fields.itemName}}
                <!--<label class="toggle toggle-balanced">
                    <input type="checkbox" ng-model="fields.checked">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>-->
            </div>
            <div class="item no-vr-pad">
                <div class="button-bar">                    
                    <button type="button" class="button button-icon icon ion-close" ng-style="checkedWithIssuesStyle" ng-click="setCheckedWithIssues()" ng-disabled="fields.complete"></button>
                    <button type="button" class="button button-icon icon ion-checkmark" ng-style="checkedStyle" ng-click="setChecked()" ng-disabled="fields.complete"></button>
                </div>
            </div>
            <div class="item item-divider">
                Notes
            </div>
            <div class="item item-input">
                <textarea ng-model="fields.notes"></textarea>
            </div>
            <div class="item item-divider">
                Photos<span class="pull-right">{{fields.photos.length}}</span>
            </div>
            <div class="item item-thumbnail-left item-icon-right item-button-right" ng-repeat="photo in fields.photos">
                <img ng-src="{{photo.path}}" />
                <span style="font-size: 14px;">
                    Created:<br /> {{photo.created | date:'hh:mm a dd-MM-yyyy'}}
                </span>
                <button class="button button-icon icon ion-close" ng-click="removePhoto($index)" ng-show="!fields.complete"></button>
            </div>            
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable" ng-show="!fields.complete">
            <button type="button" class="button button-clear button-icon ion-chevron-left" ng-click="Done()">Back</button>
            <button type="button" class="button button-icon icon ion-camera" ng-click="GetPhoto()"></button>
        </div>
        <div class="button-bar bar-stable" ng-show="fields.complete">
            <button type="button" class="button button-clear button-icon ion-chevron-left" ng-click="Done()">Back</button>
        </div>
    </ion-footer-bar>
</ion-view>