﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <div class="bar bar-subheader" style="display: block;padding-top: 0;">
        <div><b>TMP On-Site Assessment</b></div>
        <div>{{jobName}}</div>
    </div>    
    <ion-content class="has-subheader has-wide-subheader">
        
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable" ng-class="{ 'hide-section': fields.complete }">            
            <button type="button" class="button button-large button-clear" ng-click="fields.startTime == null && fields.endTime == null ? Start() : Stop()">
                <i style="font-size: 2em;" ng-class="{ 'ion-stop assertive': fields.startTime != null && fields.endTime == null, 'ion-play balanced': fields.startTime == null && fields.endTime == null }"></i>
            </button>
            <button type="button" class="button button-large button-clear" ng-click="Cancel()">Cancel</button>
        </div>
        <div class="button-bar bar-stable" ng-class="{ 'hide-section': !fields.complete }">
            <button type="button" class="button button-large button-icon ion-chevron-left button-clear" ng-click="back()">Back</button>
        </div>       
    </ion-footer-bar>
</ion-view>