﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <div class="bar bar-subheader" style="display: block;padding-top: 0;">
        <div><b>Site Amendment</b></div>
        <div>{{jobName}}</div>
    </div>    
    <ion-content class="has-subheader has-wide-subheader">        
        <div class="item" ng-show="fields.complete">
            <span class="pull-right runtime">{{TotalDuration}}</span>
        </div>        
        <div class="item" ng-show="!fields.complete">
            <span class="pull-right runtime" ng-class="{'hide-section': fields.startTime != null }">00:00:00</span>
            <timer ng-attr-start-time="fields.startTime" class="pull-right runtime" autostart="false" ng-class="{'hide-section': fields.startTime == null}">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
        </div>
        <div class="list">
            <div class="item">
                Start Time<span style="float: right;">{{fields.startTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <div class="item">
                End Time<span style="float: right;">{{fields.endTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <div class="item item-divider item-button-right">Active Closure Types <button class="button button-icon icon ion-edit divider-button" ng-class="{ 'hide-section': fields.complete }" ng-click="EditClosureTypes()"></button></div>
            <div class="item" ng-repeat="closure in addedClosureTypes">{{closure}}</div>        
            <div class="item item-divider">Temporary Speed Limits</div>
            <div class="item" ng-repeat="tsl in tsls track by $index"> 
                <div>Limit<span class="pull-right">{{tsl.Limit}} Kph</span></div>
                <div>Time<span class="pull-right">{{tsl.Timestamp | date:'hh:mm:ss a dd-MM-yyyy'}}</span></div>
                <div>Latitude<span class="pull-right">{{tsl.Coordinates.latitude}}</span></div>
                <div>Longitude<span class="pull-right">{{tsl.Coordinates.longitude}}</span></div>
            </div>
            <div class="item item-input item-stacked-label">
                <button type="button" class="button button-icon icon button-inline-right" ng-click="voiceToText()">
                    <i class="ion-mic-a"></i>
                    <i class="ion-arrow-right-a"></i>
                    <i class="ion-compose"></i>
                </button>
                <span class="input-label">Notes</span>
                <textarea rows="4" ng-model="fields.notes"></textarea>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable" ng-class="{ 'hide-section': fields.complete }">            
            <button type="button" class="button button-clear button-positive" ng-click="AddTSL()">TSL</button>
            <button type="button" class="button button-clear" ng-click="fields.startTime == null && fields.endTime == null ? Start() : Stop()">
                <i style="font-size: 2em;" ng-class="{ 'ion-stop assertive': fields.startTime != null && fields.endTime == null, 'ion-play balanced': fields.startTime == null && fields.endTime == null }"></i>
            </button>
            <button type="button" class="button button-clear" ng-click="Cancel()">Cancel</button>
        </div>
        <div class="button-bar bar-stable" ng-class="{ 'hide-section': !fields.complete }">
            <button type="button" class="button button-clear button-icon ion-chevron-left" ng-click="Done()">Back</button>
        </div>
    </ion-footer-bar>
</ion-view>