﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <div class="bar bar-subheader" style="display: block;padding-top: 0;">
        <div><b>Site Hazard Assessment</b></div>
        <div>{{jobName}}</div>
    </div>  
    <ion-content class="has-subheader has-wide-subheader">
        <div class="item" ng-class="{ 'hide-section': !fields.complete }">
            <span class="pull-right runtime">{{TotalDuration}}</span>
        </div>
        <div class="item" ng-class="{ 'hide-section': fields.complete }">
            <span class="pull-right runtime" ng-class="{'hide-section': fields.startTime != null}">00:00:00</span>
            <timer ng-attr-start-time="fields.startTime" class="pull-right runtime" autostart="false" ng-class="{'hide-section': fields.startTime == null}">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
        </div>
        <div class="list">
            <label class="item item-input">
                <textarea placeholder="Description" ng-model="fields.description" rows="6"></textarea>
            </label>
            <div class="item">
                Start Time<span class="pull-right">{{fields.startTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <div class="item">
                End Time<span class="pull-right">{{fields.endTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <div class="item item-input item-stacked-label">
                <button type="button" class="button button-icon icon button-inline-right" ng-click="voiceToText()">
                    <i class="ion-mic-a"></i>
                    <i class="ion-arrow-right-a"></i>
                    <i class="ion-compose"></i>
                </button>
                <span class="input-label">Notes</span>
                <textarea rows="4" ng-model="fields.notes"></textarea>
            </div>
        </div>       
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable" ng-class="{ 'hide-section': !fields.complete }">
            <button type="button" class="button button-clear button-icon ion-chevron-left" ng-click="back()">Back</button>
        </div>
        <div class="button-bar bar-stable" ng-class="{ 'hide-section': fields.complete }">            
            <button class="button button-clear" ng-click="fields.startTime == null && fields.endTime == null ? Start() : Stop()">
                <i style="font-size: 2em;"ng-class="{ 'ion-stop assertive': !fields.complete && fields.startTime != null, 'ion-play balanced': !fields.complete && fields.startTime == null }"></i>
            </button>
            <button type="button" class="button button-clear" ng-click="cancel()">Cancel</button>
        </div>
    </ion-footer-bar>
</ion-view>