﻿<ion-modal-view>
    <ion-header-bar>
        <div class="title">{{ClosureUnattended}}Closure Types</div>
        <!--<div class="title">{{SetTitle()}}</div>-->
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-opt1 item-checkbox item-checkbox-right" ng-repeat="closure in ClosureTypes" ng-click="ToggleClosure(closure)">
                <label class="checkbox">
                    <input type="checkbox" ng-checked="addedClosureTypes.indexOf(closure) >= 0" />
                </label>
                {{closure}}
            </div>
            <div class="item">
                <label class="checkbox pull-right no-pad" style="margin-right: -2px;">
                    <input type="checkbox" ng-model="OtherType.Selected">
                </label>
                <input type="text" ng-model="OtherType.Value" placeholder="Specify other type" style="width: 85%;margin-right: 58px;border-bottom: 1px solid #ddd;">
            </div>            
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable">
            <button type="button" class="button button-clear button-large" ng-click="CancelClosureTypes()">Cancel</button>
            <button type="button" class="button button-clear button-large button-positive" ng-click="DoneClosureTypes()">Done</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
