﻿<ion-view can-swipe-back="false">
    <ion-header-bar align-title="center" class="truckaudit-titlebar">
        <img src="img/icon-48-mdpi.png" />
        <span class="title">Truck audit PRO</span>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <ion-item class="static-pos" style="overflow: visible;padding-left: 10px; padding-right: 10px;">
                <div class="row">
                    <div class="col">
                        <div class="input-label">Truck No.</div>
                    </div>
                    <div class="col">
                        <select ng-options="truck as truck.truckNumber for truck in trucks" ng-model="items.selectedTruck" ng-change="truckSelected({originalObject: items.selectedTruck}, {target:'regoNoAngucomplete', fieldValue: 'truckRego'})" class="bordered" style="width: 100%; height: 34px; padding-top: 2px; background-color: white;">
                        <!--<select ng-options="truck as truck.truckNumber for truck in trucks" ng-model="selectedTruck" class="bordered" style="width: 100%; height: 34px; padding-top: 2px; background-color: white;">-->
                            <option value="">...</option>
                        </select>                        
                    </div>
                    <div class="col">
                        <div class="input-label">Rego No.</div>
                    </div>
                    <div class="col">
                        <angucomplete-alt id="regoNoAngucomplete" local-data="trucks" search-fields="truckRego" title-field="truckRego" minlength="1" ng-model="fields.truckRego"
                                          selected-object="truckSelected" selected-object-data="{target:'truckNoAngucomplete', fieldValue: 'truckNumber'}"
                                          text-searching="..." text-no-results="Not found"
                                          input-class="bordered" style="display:inline-block;" push-right="true"></angucomplete-alt>
                    </div>
                </div>
            </ion-item>            
            <div ng-show="fields.id">
                <ion-item class="static-pos" style="overflow: visible;">
                    Days since last audit
                    <span class="item-note dark">{{fields.daysSinceLastAudit || 0}}</span>
                </ion-item>
                <ion-item class="item-input item-group-start static-pos" style="padding-right: 16px;">
                    <div class="row no-pad">
                        <div class="col-50"><span class="input-label">Rego Exp</span></div>
                        <div class="col no-pad"><input type="date" class="text-right bordered" ng-model="fields.regoExpiry" ng-change="getDaysUntilExp(fields.regoExpiry, 'daysUntilRegoExp')" /></div>
                    </div>
                </ion-item>
                <ion-item class="item-group-end static-pos">
                    Days until
                    <span class="item-note" ng-class="{ 'black': fields.daysUntilRegoExp > 30, 'orange': fields.daysUntilRegoExp <= 30, 'red': fields.daysUntilRegoExp <= 7, 'purple': fields.daysUntilRegoExp < 0 }">{{fields.daysUntilRegoExp || 0}}</span>
                </ion-item>
                <ion-item class="item-input item-group-start static-pos" style="padding-right: 16px;">
                    <div class="row no-pad">
                        <div class="col-50"><span class="input-label">COF Exp</span></div>
                        <div class="col no-pad"><input type="date" class="text-right bordered" ng-model="fields.cofExpiry" ng-change="getDaysUntilExp(fields.cofExpiry, 'daysUntilCOFExp')" /></div>
                    </div>
                </ion-item>
                <ion-item class="item-group-end">
                    Days until
                    <!--<span class="item-note dark">{{fields.daysUntilCOFExp || 0}}</span>-->
                    <span class="item-note" ng-class="{ 'black': fields.daysUntilCOFExp > 30, 'orange': fields.daysUntilCOFExp <= 30, 'red': fields.daysUntilCOFExp <= 7, 'purple': fields.daysUntilCOFExp < 0 }">{{fields.daysUntilCOFExp || 0}}</span>
                </ion-item>
                <ion-item class="item-input item-custom1">
                    <div class="row no-pad">
                        <div class="col-50">
                            <span class="input-label">ODO Reading</span>
                        </div>
                        <div class="col no-pad">
                            <input type="number" placeholder="0" class="text-right bordered" ng-model="fields.currentOdometerReading" ng-change="getKmsUntilServiceDue()" style="padding-right: 12px;" />
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-input item-custom1">
                    <div class="row no-pad">
                        <div class="col-50"><span class="input-label">Service Due</span></div>
                        <div class="col no-pad"><input type="number" placeholder="0" class="text-right bordered" ng-model="fields.nextServiceDue" ng-change="getKmsUntilServiceDue()" style="padding-right: 12px;" /></div>
                    </div>
                </ion-item>
                <ion-item class="item-input item-custom1">
                    <div class="row no-pad">
                        <div class="col-50"><span class="input-label">RUC Expiry</span></div>
                        <div class="col no-pad"><input type="number" placeholder="0" class="text-right bordered" style="padding-right: 10px;" ng-model="fields.rucMaxReading" ng-change="getRucsRemaining()" /></div>
                    </div>
                </ion-item>
                <ion-item class="item-input item-custom1">
                    <div class="row no-pad">
                        <div class="col-50"><span class="input-label">HUBO</span></div>
                        <div class="col no-pad"><input type="number" placeholder="0" class="text-right bordered" style="padding-right: 10px;" ng-model="fields.currentHuboReading" ng-change="getRucsRemaining()" /></div>
                    </div>
                </ion-item>
                <ion-item>
                    RUC's Remaining
                    <span class="item-note dark">{{fields.rucsRemaining || 0}}</span>
                </ion-item>
                <ion-item>
                    KMs Until Service Due
                    <span class="item-note dark">{{fields.kmsUntilServiceDue || 0}}</span>
                </ion-item>
                <ion-item ng-repeat="inspection in fields.inspections | limitTo: 6" class="hpad-10">
                    <input type="number" placeholder="0" class="bordered left-textbox" ng-model="inspection.value" style="width: 34px;" ng-hide="inspection.inputType == 2" />
                    <span style="display: inline-block;" ng-click="inspectionDetails(inspection, $index)"> <span style="text-decoration: underline;">{{inspection.name}}</span> <i class="icon ion-chevron-right"></i></span>
                    <div style="display: inline-block;float: right;">
                        <my-star-rating default-rating="inspection.defaultRating" max-stars="5" index="inspection.index" rating-callback="starRatingCallback" class="pull-right"></my-star-rating>
                    </div>
                </ion-item>
                <ion-item>
                    <span style="line-height: 2em;">
                        Flashing Beacons
                    </span>
                    <div style="display: inline-block;float:right;">
                        <input type="number" class="bordered" style="display: inline-block; width: 3em;" placeholder="0" ng-model="fields.flashingBeaconsCount" />
                        &nbsp; of &nbsp;
                        <input type="number" class="bordered" style="display: inline-block; width: 3em;" placeholder="0" ng-model="fields.flashingBeaconsTotal" />
                    </div>
                </ion-item>
                <ion-item class="item-input item-select">
                    <div class="input-label">
                        Arrow Board 100%
                    </div>
                    <select ng-model="fields.arrowBoard">
                        <option value="">-Choose-</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </ion-item>
                <ion-item class="item vpad-10" ng-click="inspectionDetails(fields.inspections[12], 12)">
                    <div class="row no-pad">
                        <div class="col no-pad">
                            <span class="input-label" style="width: 100%;display: inline-block;">
                                New Damage?
                            </span>
                        </div>
                        <div class="col no-pad">
                            <label class="toggle toggle-assertive pull-right">
                                <input type="checkbox" ng-checked="fields.inspections[12].confirmed" ng-disabled="true">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="row row-no-padding">
                        <!--<div class="col-20">Oil</div>-->
                        <div class="col-20"><span ng-click="oilLevelDetails()" style="text-decoration: underline;">Oil</span> <i class="icon ion-chevron-right"></i></div>
                        <div class="col">
                            <fluid-level ng-model="fields.oilLevel" class="pull-right"></fluid-level>
                            <!--<span class="fluid-level"><span class="fluid-level-item">1/4</span><span class="fluid-level-item">1/2</span><span class="fluid-level-item">3/4</span></span>-->
                            <!--<my-star-rating default-rating="fields.oilLevelDefaultRating" max-stars="8" index="10" rating-callback="fluidLevelRatingCallback" class="pull-right"></my-star-rating>-->
                        </div>
                    </div>
                    <div class="row row-no-padding" style="padding-top: 15px;">
                        <div class="col-20"><span style="display:inline-block; line-height: 2.5em">Top-up?</span></div>
                        <div class="col">
                            <span class="pull-right">
                                <input type="number" placeholder="0" class="bordered" style="display: inline-block;width: 5em;" ng-model="fields.oilLevelTopup" /> Liters
                            </span>
                        </div>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="row row-no-padding">
                        <div class="col-20"><span ng-click="waterLevelDetails()" style="text-decoration: underline;">Water</span> <i class="icon ion-chevron-right"></i></div>
                        <div class="col">
                            <fluid-level ng-model="fields.waterLevel" class="pull-right"></fluid-level>
                            <!--<my-star-rating default-rating="fields.waterLevelDefaultRating" max-stars="8" index="11" rating-callback="fluidLevelRatingCallback" class="pull-right"></my-star-rating>-->
                        </div>
                    </div>
                    <div class="row row-no-padding" style="padding-top: 15px;">
                        <div class="col-20"><span style="display:inline-block; line-height: 2.5em">Top-up?</span></div>
                        <div class="col">
                            <span class="pull-right">
                                <input type="number" placeholder="0" class="bordered" style="display: inline-block;width: 5em;" ng-model="fields.waterLevelTopup" /> Liters
                            </span>
                        </div>
                    </div>
                </ion-item>
                <ion-item>
                    <div class="row row-no-padding">
                        <!--<div class="col-20">Diesel</div>-->
                        <div class="col-20"><span ng-click="dieselLevelDetails()" style="text-decoration: underline;">Diesel</span> <i class="icon ion-chevron-right"></i></div>
                        <div class="col">
                            <fluid-level ng-model="fields.dieselLevel" class="pull-right"></fluid-level>
                            <!--<my-star-rating default-rating="fields.dieselLevelDefaultRating" max-stars="8" index="12" rating-callback="fluidLevelRatingCallback" class="pull-right"></my-star-rating>-->
                        </div>
                    </div>
                    <div class="row row-no-padding" style="padding-top: 15px;">
                        <div class="col-20"><span style="display:inline-block; line-height: 2.5em">Top-up?</span></div>
                        <div class="col">
                            <span class="pull-right">
                                <input type="number" placeholder="0" class="bordered" style="display: inline-block;width: 5em;" ng-model="fields.dieselLevelTopup" /> Liters
                            </span>
                        </div>
                    </div>
                </ion-item>
                <ion-item>
                    Tyres
                    <ion-list class="sublist">
                        <ion-item ng-repeat="inspection in fields.inspections | limitTo: 6:6">
                            <div class="row">
                                <div class="col"><span ng-click="inspectionDetails(inspection, ($index + 6))" class="input-label"><span style="text-decoration: underline;">{{inspection.name.substr(7)}}</span> &nbsp;<i class="icon ion-chevron-right"></i></span></div>
                                <div class="col-60">
                                    <my-star-rating default-rating="inspection.defaultRating" max-stars="5" index="inspection.index" rating-callback="starRatingCallback" class="pull-right"></my-star-rating>
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-item>
                <ion-item>
                    <div class="button-bar">                        
                        <button class="button button-balanced" ng-click="save()" ng-disabled="!fields.id">Save</button>
                        <button class="button" ng-click="cancel()" ng-disabled="!fields.id">Cancel</button>
                    </div>
                </ion-item>
            </div>
        </div>
    </ion-content>    
</ion-view>