﻿<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add Activity</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item no-pad" ng-repeat="activity in activitiesSelection">
                <button href="#" class="button button-stable button-full icon-right text-left ion-play" ng-click="selectedActivity(activity.Id)" ng-class="activity.statusStyle" ng-hide="activity.hide" ng-disabled="activity.disabled">
                    {{activity.Activity}}
                </button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="addActivityModalClose()">Back</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>