﻿<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add Activity</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <a href="#" class="item item-icon-right" ng-repeat="activity in Activities" ng-click="AddActivity(activity)" ng-class="{'activity-locked':activity.locked}" ng-hide="activity.hide">
                {{activity.Activity}}
                <i class="icon ion-play"></i>
            </a>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable">
            <button type="button" class="button button-icon ion-chevron-left button-large button-clear" ng-click="CloseActivitySelection()">Back</button>
            <!--<button type="button" class="button button-clear button-positive" ng-click="CloseActivitySelection()">Close</button>-->
        </div>
    </ion-footer-bar>
</ion-modal-view>