﻿<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add Temporary Speed Limit</h1>
    </ion-header-bar>
    <ion-content>
        <div style="margin-top:10px; margin-bottom: 10px;">
            <strong style="margin-left:15px">From</strong>
        </div>

        <div class="list">
            <div class="item item-input item-select">
                <div class="input-label">Permanent Limit</div>
                <select class="" ng-model="TSL.PermanentLimit" ng-options="limit.Value as limit.Text for limit in PermanentLimits"><option value="">Choose...</option></select>
            </div>
            <div class="item item-input item-select">
                <div class="input-label">Temporary Limit</div>
                <select class="" ng-model="TSL.Limit" ng-options="limit.Value as limit.Text for limit in Limits"><option value="">Choose...</option></select>
            </div>
            <div class="item">
                Time
                <span style="float: right;">{{TSL.Timestamp | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <!-- <div class="item">
            RP Address
            <span style="float: right;"></span>
        </div> -->
            <!--
        <div class="item">
            Latitude
            <span style="float: right;">{{TSL.Coordinates.latitude}}</span>
        </div>
        <div class="item">
            Longitude
            <span style="float: right;">{{TSL.Coordinates.longitude}}</span>
        </div>
        -->
            <div class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" ng-model="TSL.address">
                <button class="button button-icon icon ion-location button-small item-right" ng-click="getAddress()"></button>
            </div>
            <div class="item item-input">
                <span class="input-label">RP</span>
                <input type="text" ng-model="TSL.rp">
            </div>
            <div class="item item-input" ng-if="!isFirstTsl">
                <span class="input-label">Length(m)</span>
                <input type="number" ng-model="TSL.length">
            </div>
            <div class="item item-button-right">
                <div>Remains in place<span style="float: right;">{{TSL.remainsInPlace | date:'dd-MM-yyyy'}}</span></div>
                <button class="button button-clear button-dark" ng-click="getDate()">
                    <i class="icon ion-calendar"></i>
                </button>
            </div>
            <!--
        <div class="item">
            <div class="button-bar bar-light">
                <button type="button" class="button icon ion-refresh" ng-click="GetCoordinates()" style="text-align: center;">Refresh</button>
            </div>
        </div>
        -->
        </div>
        <div style="margin-bottom: 10px;">
            <strong style="margin-left:15px">To</strong>
        </div>
        <div class="list">
            <div class="item item-input item-select">
                <div class="input-label">Permanent Limit</div>
                <select class="" ng-model="TSLTo.PermanentLimit" ng-options="limit.Value as limit.Text for limit in PermanentLimits"><option value="">Choose...</option></select>
            </div>
            <div class="item item-input item-select">
                <div class="input-label">Temporary Limit</div>
                <select class="" ng-model="TSLTo.Limit" ng-options="limit.Value as limit.Text for limit in Limits"><option value="">Choose...</option></select>
            </div>
            <div class="item">
                Time
                <span style="float: right;">{{TSLTo.Timestamp | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <div class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" ng-model="TSLTo.address">
                <button class="button button-icon icon ion-location button-small item-right" ng-click="getToAddress()"></button>
            </div>
            <div class="item item-input">
                <span class="input-label">RP</span>
                <input type="text" ng-model="TSLTo.rp">
            </div>
            <div class="item item-input">
                <span class="input-label">Length(m)</span>
                <input type="number" ng-model="TSLTo.length">
            </div>
            <div class="item item-button-right">
                <div>Remains in place<span style="float: right;">{{TSLTo.remainsInPlace | date:'dd-MM-yyyy'}}</span></div>
                <button class="button button-clear button-dark" ng-click="getDateTo()">
                    <i class="icon ion-calendar"></i>
                </button>
            </div>
            <!--
        <div class="item">
            <div class="button-bar bar-light">
                <button type="button" class="button icon ion-refresh" ng-click="GetCoordinates()" style="text-align: center;">Refresh</button>
            </div>
        </div>
        -->
        </div>
    </ion-content>

    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button button-large icon-left ion-chevron-left button-clear button-positive" ng-click="Done()">Save</button>
            <button type="button" class="button button-large button-clear button-positive" ng-click="Cancel()">Cancel</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>