﻿<ion-popover-view style="width: 95%;max-width: 95%;">
    <ion-content>
        <div class="list">
            <div class="item" ng-click="userSettings()">
                {{userInfo.fullName}}<br />
                <small>{{userInfo.email}}</small>
            </div>
            <div class="item item-icon-right" ng-click="showLatestVersion(true)" style="font-size: 14px;">
                Current Version: {{currentVersion}}
                <span ng-if="hasNewVersion()"><br/>New Version: {{latestVersion}} <i class="icon ion-alert positive"></i></span>
            </div>

            <!-- <a class="item" href="#" ng-click="manageStaff()">
                Manage Staff
            </a> -->            
            <a class="item item-icon-left" ng-click="logout()">
                <i class="icon ion-log-out"></i> Logout
            </a>            
            <!-- <a class="item" href="#" ng-click="logout()">
                Logout
            </a> -->
        </div>
    </ion-content>
</ion-popover-view>