﻿<ons-list-title>{{breakTimeOptionMember}}</ons-list-title>
<ons-list>
    <ons-list-item>
        <label class="left">
            <ons-radio name="breakTimeOption" input-id="opt1" ng-model="breakTimeOption" value="30minutes" class="left"></ons-radio>
        </label>
        <label for="opt1" class="center">30 Minutes</label>
    </ons-list-item>
    <ons-list-item>
        <label class="left">
            <ons-radio name="breakTimeOption" input-id="opt2" ng-model="breakTimeOption" value="ongoing"></ons-radio>
        </label>
        <label for="opt2" class="center">Ongoing</label>
    </ons-list-item>
    <ons-list-item>
        <label class="left">
            <ons-radio name="breakTimeOption" input-id="opt3" ng-model="breakTimeOption" value="10minutespaid"></ons-radio>
        </label>
        <label for="opt3" class="center">10 Minutes Paid</label>
    </ons-list-item>
    <ons-list-item>
        <label class="left">
            <ons-radio name="breakTimeOption" input-id="opt4" ng-model="breakTimeOption" value="duration"></ons-radio>
          </label>
        <label for="opt4" class="center">Duration(mins)</label>
        <ons-input class="right" input-id="opt4" ng-model="breakTimeDuration" type="number" ng-focus="breakTimeOption = 'duration'"></ons-input>
    </ons-list-item>
</ons-list>