﻿<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Choose Team Members</h1>
        <button class="button button-icon icon ion-refresh" ng-click="refreshData()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="margin-bottom: 0;border-bottom: none;">
            <label class="item item-input">
                <input type="text" placeholder="Search" ng-model="search.fullName">
                <i class="icon ion-search placeholder-icon search-mt"></i>
            </label>
            <div class="item item-party">                
                <select class="full-width" ng-model="branchId" ng-options="branch.id as branch.branch for branch in branches">
                    <option value="">Branch...</option>
                </select>
            </div>
        </div>        
        <div class="list">
            <div class="item item-thumbnail-left item-button-right fade" ng-repeat="member in staffMembers | filter:search | selectBranch:branchId">
                <img data-ng-src="{{member.photo == null || member.photo.length == 0 ? 'img/staff-icon.jpg' : 'data:image/jpeg;base64,' + member.photo }}" />
                <p>
                    {{member.fullName}} {{member.isMe ? '(Me)' : ''}}<br />
                    {{member.staffType || member.qualification}}
                </p>
                <button type="button" class="button button-balanced" ng-click="addMember(member)">Add</button>
            </div>            
        </div>
        
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="cancel()">Back</button>
            <!-- <button type="button" class="button button-positive button-clear" ng-click="close()">Close</button> -->
        </div>
    </ion-footer-bar>
</ion-modal-view>