﻿<ion-modal-view>
    <ion-header-bar>
        <div class="title">{{ClosureUnattended}}Closure Types</div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col" ng-repeat="item in closureTypesOptionList | limitTo:2">
                <ion-checkbox class="compact-ion-checkbox" ng-change="closureTypesOptionChange(item)" ng-model="item.Selected">{{item.Value}}</ion-checkbox>
            </div>
        </div>
        <!--<div class="row">
            <ion-checkbox class="compact-ion-checkbox" ng-model="unattended" ng-change="setUnattendedClosureType(unattended)">Unattended</ion-checkbox>
            <ion-checkbox class="compact-ion-checkbox" ng-model="night" ng-change="setNightClosureType(night)">Night</ion-checkbox>
        </div>-->
        <div class="list">
            <div class="item item-opt1 item-checkbox item-checkbox-right" ng-repeat-start="closure in closureTypes" ng-show="closure.name != 'Other Type'">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="closure.selected" />
                    </label>
                    {{closure.name}}
                </div>
            </div>
            <div class="item" ng-repeat-end ng-show="closure.name == 'Other Type'">
                <div style="width: 100%;">
                    <label class="checkbox" style="display: block;float: right;padding: 0;">
                        <input type="checkbox" ng-model="closure.selected">
                    </label>
                    <input type="text" ng-model="closure.otherType" ng-change="setOtherClosureType(closure)" style="width: 90%; float: left; display: block; font-size: 16px;" placeholder="Specify other type" />
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="done()">Save</button>
            <button type="button" class="button button-clear button-large button-positive" ng-click="cancel()">Cancel</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
