﻿<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Choose Trucks ({{selectedCount}} of 6)</h1>
    <button class="button button-icon icon ion-refresh" ng-click="refreshTrucks()"></button>
  </ion-header-bar>
  <ion-header-bar class="bar bar-subheader" style="height: auto;">
      <div class="list" style="position: inherit; width: 100%;">
        <div class="item" style="padding-top: 0;padding-bottom: 0;">
          <select class="full-width" ng-model="option.branchId" ng-options="branch.id as branch.branch for branch in branches" style="height: 2.5em;">
            <option value="">Branch...</option>
          </select>
        </div>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon search-mt"></i>
          <input type="text" placeholder="Search" ng-model="option.search">
        </label>
      </div>
  </ion-header-bar>
  <ion-content class="has-subheader" style="top: 130px;">
    <ion-list>
      <ion-checkbox ng-repeat="truck in tenantTrucks | filter:option.search | filter:option.branchId" ng-model="truck.checked" ng-click="addTruck(truck)">{{truck.truckNumber + ' - ' + truck.truckRego}}</ion-checkbox>
    </ion-list>    
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">      
      <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="cancel()">Cancel</button>
      <button type="button" class="button button-clear button-positive" ng-click="done()">Done</button>      
    </div>
  </ion-footer-bar>
</ion-modal-view>