﻿<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add Activity</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item no-pad" ng-repeat="activity in activities">
                <button href="#" class="button button-stable button-full icon-right text-left ion-play" ng-click="chooseActivity(activity)" ng-class="activity.statusStyle" ng-hide="activity.hide" ng-disabled="activity.disabled">
                    {{activity.Activity}}
                </button>
            </div>
            
            <!-- <a href="#" class="item item-icon-right" ng-repeat="activity in activities" ng-click="chooseActivity(activity)" ng-class="activity.statusStyle" ng-hide="activity.hide" ng-disabled="true">
                {{activity.Activity}}
                <i class="icon ion-play"></i>
            </a> -->
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>