﻿<ion-modal-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>ToolBox Briefing Record</strong></div>
    </ion-header-bar>
    <ion-content class="has-subheader content-hassubheader">
        <div class="list">
            <div class="item item-divider item-divider-button-right">
                Instructions and checklist
            </div>
            <div class="item item-opt1 item-checkbox item-checkbox-right">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="Instructions.testcommunication" />
                    </label>
                    Please check all R/T's are at full volume and test communication before starting
                </div>
            </div>
            <div class="item item-opt1 item-checkbox item-checkbox-right">
                <div>
                    <label class="checkbox">
                        <input type="checkbox"  ng-model="Instructions.ppe"/>
                    </label>
                    PPE is to be worn at all times outside vehicles, including helmets and safety glasses
                </div>
            </div>
            <div class="item item-opt1 item-checkbox item-checkbox-right">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="Instructions.isfootpath" />
                    </label>
                    Don't put equipment in cycle lanes or where they block footpath requirements
                </div>
            </div>
            <div class="item item-opt1 item-checkbox item-checkbox-right">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="Instructions.isExcessWeight"/>
                    </label>
                    Do not lift excess weight, ensure equipment is lifted safely and removed from truck, not thrown
                </div>
            </div>
            <div class="item item-opt1 item-checkbox item-checkbox-right">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="Instructions.isStepOffTruck"/>
                    </label>
                    Before stepping off the truck, make sure it is safe to do so; be aware of terrain underfoot, watch for cyclists and pedestrians, do not step off into live lane
                </div>
            </div>
            <div class="item item-opt1 item-checkbox item-checkbox-right">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" />
                    </label>
                    MTC operators put threshold cone at arm's length, do not enter live lane to place in the centre.
                </div>
            </div>
            <div class="item item-opt1 item-checkbox item-checkbox-right">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" />
                    </label>
                    During the work period be alert to all plant movement, especially reversing vehicles
                </div>
            </div>
            <div class="item item-opt1 item-checkbox item-checkbox-right">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" />
                    </label>
                    Stay hydrated and alert all day, be aware of all hazards’and report all new ones to me
                </div>
            </div>
            <div class="item item-opt1 item-checkbox item-checkbox-right">
                <div>
                    <label class="checkbox">
                        <input type="checkbox" />
                    </label>
                    Always watch out for each other and obey my instructions
                </div>
            </div>
            <div class="item item-divider item-divider-button-right">
                First Aid and Emergencies
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">First aid kit and fire extinguisher are</span>
                <textarea rows="4"></textarea>
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">Emergency evacuation point will be</span>
                <textarea rows="4"></textarea>
            </div>

            <div class="item item-divider item-divider-button-right">
                In an emergency STOP ALL WORK, I will assess and<br /> may delegate from then.
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">
                    First Aider for today is
                </span>
                <textarea rows="4"></textarea>
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">Nearest Medical Centre is</span>
                <textarea rows="4"></textarea>
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">
                    Hours of operation are
                </span>
                <textarea rows="4"></textarea>
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">
                    My 2IC if required is
                </span>
                <textarea rows="4"></textarea>
            </div>

        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="done()">Save</button>
            <button type="button" class="button button-clear button-large button-positive" ng-click="cancel()">Cancel</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>
