﻿<span class="ion-close pointer" ng-click="toggle(false)" ng-class="{'balanced': !checked}"></span>
<span class="ion-checkmark pointer" ng-click="toggle(true)" ng-class="{'balanced': checked}"></span>
{{checked}}