﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>Site Check</strong></div>
    </ion-header-bar>
    <ion-content class="has-subheader">
        <div class="list" style="margin-bottom: 0">
            <div class="item">
                Time
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar>
        
    </ion-footer-bar>
</ion-view>
<ion-nav-view></ion-nav-view>