﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>Emergency</strong></div>
    </ion-header-bar>
    <ion-content class="has-subheader content-hassubheader">
        <div class="list">
            <div class="item item-party">
                <div class="">Road Controlling Authority</div>
                <select class="full-width" ng-model="RCA" ng-change="GetCoordinators(RCA)" ng-options="rca as rca.organisationName for rca in RCAs" ng-required="true">
                    <option value="">Please select...</option>
                </select>
            </div>
            <div class="item item-party">
                <div class="">Traffic Management Co-ordinator</div>
                <select class="full-width" ng-model="Coordinator" ng-change="GetContactNumbers(Coordinator)" ng-options="coordinator as coordinator.fullName for coordinator in Coordinators" ng-required="true">
                    <option value="">Please select...</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Phone: {{ContactNumber}}
            </div>
            <div class="col col-40">
                <button class="button button-balanced padding" ng-click="EmergencyCall()" style="float: right;" ng-disabled="ContactNumber == null || ContactNumber.length < 1">
                    <i class="icon ion-ios-telephone icon-30 padding-vertical"></i>
                </button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <a href="#/jobs" class="button button-stable">Cancel</a>
        </div>
    </ion-footer-bar>
</ion-view>