﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader" style="display: block;">
        <div><b>{{activityHeaders.name}}</b></div>
        <div>{{activityHeaders.jobName}}</div>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="margin-bottom: 0">
            <div class="item">
                Time<span style="float: right;">{{activity.startTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
        </div>
        <ion-content class="has-subheader content-hassubheader">
            <div class="list">
                <div class="item item-divider ">
                    Level 1
                    <button type="button" class="btn btn-clear btn-xs dropdown-toggle pull-right" ng-click="addLevel1()" ng-show="activity.endTime == null && !activity.isCancelled"><span class="icon ion-plus"></span></button>
                </div>
                <div class="item item-opt1">

                    <section ng-repeat="add in activity.level1Items" style="margin-left: -14px;">

                        <div class="row row-no-padding" style="padding-top: 5px;">
                            <!--<span class="serial-number">{{ $index + 1 }}.</span>-->
                            <div class="col" style="padding-left: 5px;"><textarea style="width: 315px; height: 33px;" ng-model="add.description" class="form-control bordered" type="text" placeholder="Description" ng-disabled="isReadonly"></textarea></div>
                            <div class="col">
                                <span class="pull-right">
                                    <input type="number" placeholder="0" class="bordered" style="display: inline-block;width: 5em;" ng-model="add.qty" ng-disabled="isReadonly"/>
                                </span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="item item-divider ">
                    Level 2
                    <button type="button" class="btn btn-clear btn-xs dropdown-toggle pull-right" ng-click="addLevel2()" ng-show="activity.endTime == null && !activity.isCancelled"><span class="icon ion-plus"></span></button>
                </div>
                <div class="item item-opt1">

                    <section ng-repeat="add in activity.level2Items" style="margin-left: -14px;">

                        <div class="row row-no-padding" style="padding-top: 5px;">
                            <!--<span class="serial-number">{{ $index + 1 }}.</span>-->
                            <div class="col" style="padding-left: 5px;"><textarea style="width: 315px; height: 33px;" ng-model="add.description" class="form-control bordered" type="text" placeholder="Description" ng-disabled="isReadonly"></textarea></div>
                            <div class="col">
                                <span class="pull-right">
                                    <input type="number" placeholder="0" class="bordered" style="display: inline-block;width: 5em;" ng-model="add.qty" ng-disabled="isReadonly"/>
                                </span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="item item-divider ">
                    Accessories
                    <button type="button" class="btn btn-clear btn-xs dropdown-toggle pull-right" ng-click="addAccessories()" ng-show="activity.endTime == null && !activity.isCancelled"><span class="icon ion-plus"></span></button>
                </div>
                <div class="item item-opt1">

                    <section ng-repeat="add in activity.accessoriesItems" style="margin-left: -14px;">

                        <div class="row row-no-padding" style="padding-top: 5px;">
                            <!--<span class="serial-number">{{ $index + 1 }}.</span>-->
                            <div class="col" style="padding-left: 5px;"><textarea style="width: 315px; height: 33px;" ng-model="add.description" class="form-control bordered" type="text" placeholder="Description" ng-disabled="isReadonly"></textarea></div>
                            <div class="col">
                                <span class="pull-right">
                                    <input type="number" placeholder="0" class="bordered" style="display: inline-block;width: 5em;" ng-model="add.qty" ng-disabled="isReadonly"/>
                                </span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </ion-content>

    </ion-content>
        <ion-footer-bar>
            <div class="button-bar bar-stable" ng-show="activity.endTime == null && !activity.isCancelled">
                <button type="button" class="button button-clear button-positive" ng-click="done()">Done</button>
                <button type="button" class="button button-clear" ng-click="cancel()">Cancel</button>
            </div>
            <div class="button-bar bar-stable" ng-show="activity.endTime">
                <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>
            </div>
        </ion-footer-bar>
</ion-view>