﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>General Notes</strong></div>
    </ion-header-bar>
    <ion-content class="has-subheader content-hassubheader">
        <div class="list">
            <div class="item item-divider item-divider-button-right">
                <button type="button" class="button button-icon icon button-divider-inline-right" ng-click="voiceToText()" ng-if="!fields.archived">
                    <i class="ion-mic-a"></i>
                    <i class="ion-arrow-right-a"></i>
                    <i class="ion-compose"></i>
                </button>
                Notes
            </div>
            <div class="item item-input">
                <textarea rows="4" ng-model="fields.notes"></textarea>
            </div>
            <div class="item item-divider item-divider-button-right">
                <button type="button" class="button button-icon icon button-divider-inline-right" ng-click="captureAudio()" ng-if="!fields.archived">
                    <i class="ion-mic-a"></i>
                </button>
                Voice Notes
            </div>
            <div class="voice-notes" style="min-height: 50px;">
                <div class="item" ng-repeat="audio in fields.audioNotes">
                    {{audio.substr(audio.lastIndexOf('/')+1)}}
                    <div style="float: right;">
                        <button type="button" class="button button-clear button-45 {{ !(audioNotesPlaying == $index) ? 'button-balanced icon ion-play' : 'button-dark icon ion-stop'}}" ng-click="playAudioNotes(audio, $index)"></button>
                        <button type="button" class="button button-clear button-45 button-assertive icon ion-close-round" ng-click="removeAudioNotes($index)"></button>
                    </div>
                </div>
            </div>
            <div class="item item-divider item-divider-button-right">
                <button type="button" class="button button-icon icon button-divider-inline-right" ng-click="capturePhoto()" ng-if="!fields.archived">
                    <i class="ion-camera"></i>
                </button>
                Photos
            </div>
            <div class="item item-thumbnail-left item-icon-right item-button-right" ng-repeat="photo in fields.photos track by $index">
                <img ng-src="{{photo}}" />
                <button class="button button-clear button-assertive icon ion-close-round" ng-click="removePhoto($index)" ng-show="!fields.complete"></button>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Cancel</button>
            <button class="button button-clear button-positive" ng-click="done()" ng-if="!fields.archived">Save</button>
        </div>
    </ion-footer-bar>
</ion-view>