﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>Job Details</strong></div>
    </ion-header-bar>
    <ion-content class="has-subheader content-hassubheader">
        <form name="forms.generalInfoForm">
            <div class="list">
                <div class="item item-input">
                    <input type="text" placeholder="Job Name" ng-model="job.jobName" ng-required="true" name="jobName^">
                </div>
                <label class="item item-input">
                    <input type="text" placeholder="TMP" ng-model="job.reference" name="reference">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="job.description" name="reference">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="PO Number" ng-model="job.poNumber" name="poNumber">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="job.address" name="address">
                </label>
                <div class="item item-divider" style="padding-top: 5px; padding-bottom: 5px; font-size: 14px;">Road Levels</div>                
                <div class="item" style="padding: 0;">
                    <div class="row">
                        <div class="col" ng-repeat="level in roadLevels | limitTo:3">
                            <ion-checkbox class="compact-ion-checkbox" ng-model="level.checked" ng-change="roadLevelsChanged()">&nbsp;{{level.name}}</ion-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" ng-repeat="level in roadLevels | limitTo:3:3">
                            <ion-checkbox class="compact-ion-checkbox" ng-model="level.checked" ng-change="roadLevelsChanged()">&nbsp;{{level.name}}</ion-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </form>        
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>            
            <button class="button button-clear button-positive" ng-click="done()">Done</button>
        </div>
    </ion-footer-bar>
</ion-view>