﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader" style="display: block;">
        <div><b>{{activityHeaders.name}}</b></div>
        <div>{{activityHeaders.jobName}}</div>
    </ion-header-bar>    
    <ion-content>
        <div class="list">            
            <div class="item" ng-show="activity.startTime && activity.endTime">
                <span class="pull-right runtime">{{activitySummary.totalDuration}}</span>
            </div>
            <div class="item" ng-show="activity.endTime == null">
                <timer ng-attr-start-time="activity.startTime" class="pull-right runtime" autostart="false" ng-show="activity.endTime == null">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
            </div>
            <div class="item">
                {{activity.activityType == activityTypeEnum.WorkSpaceActive ? 'Start' : 'Departure'}} Time <span class="pull-right">{{activity.startTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <div class="item">
                {{activity.activityType == activityTypeEnum.WorkSpaceActive ? 'End' : 'Arrival'}} Time <span class="pull-right">{{activity.isCancelled ? 'Cancelled' : activity.endTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <div class="item item-input item-stacked-label">
                <!-- <button type="button" class="button button-icon icon button-inline-right" ng-click="voiceToText()" ng-if="false || false"> -->
                <button type="button" class="button button-icon icon button-inline-right" ng-click="voiceToText()" ng-if="!activity.endTime && !isJobArchived">
                    <i class="ion-mic-a"></i>
                    <i class="ion-arrow-right-a"></i>
                    <i class="ion-compose"></i>
                </button>
                <button type="button" class="button button-icon icon button-inline-right" ng-click="saveNotes()" ng-show="btns.saveNotesEnabled" style="padding-right: 20px;" ng-if="activity.endTime == null || !isJobArchived">
                    <i class="ion-checkmark-round"></i>
                </button>
                <span class="input-label">Notes</span>
                <textarea rows="4" ng-model="activity.notes" ng-change="enableSaveNotesBtn()" ng-readonly="activity.endTime != null || isJobArchived"></textarea>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable" ng-show="activity.endTime == null && !activity.isCancelled">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()" ng-show="activity.activityType == activityTypeEnum.WorkSpaceActive">Back</button>
            <button class="button button-clear" ng-click="stop()">
                <i style="font-size: 2em;" class="ion-stop assertive"></i>
            </button>            
            <button type="button" class="button button-clear" ng-click="cancel()">Cancel</button>
        </div>
        <div class="button-bar" ng-show="activity.isCancelled || activity.endTime">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>
        </div>       
    </ion-footer-bar>
</ion-view>