﻿<ion-view can-swipe-back="false">
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
        <button type="button" class="button button-icon icon ion-navicon button-positive" ng-click="showMenuOptions($event)"></button>
    </ion-header-bar>    
    <ion-content scrollbar-y="false" has-bouncing="true">
        <div class="list">
            <div class="item item-divider" ng-click="chooseTrucks()">Trucks<i class="ion-edit pull-right" ng-if="!job.archived"></i></div>
            <div class="item" style="white-space: normal;">
                {{truckNames.join(', ')}}
            </div>
            <a class="item item-icon-right" href="#" ng-click="jobInfo()">
                Job Details
                <i class="icon ion-navicon"></i>
            </a>
            <a class="item item-icon-right" href="#" ng-click="team()">
                The Team
                <i class="icon ion-android-people"></i>
            </a>
            <a class="item item-icon-right" href="#" ng-click="generalNotes()">
                General Notes
                <i class="icon ion-compose"></i>
            </a>
            <div class="item item-divider">Activities</div>
            <span ng-if="timeLogsTemplate !=''" class="activity-item" ng-bind-html="timeLogsTemplate"></span>
            <a href="#" ng-repeat="activity in job.activities" class="item activity-item" ng-click="showActivity(activity)">
                <span ng-bind-html="activity | activityTemplate"></span>
            </a>
        </div>
        <div ng-hide="true" id="onsitecontact_signature" style="border: 1px solid black;min-height: 250px;"></div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="done()">Back</button>
            <button type="button" class="button button-large button-clear button-positive" ng-click="addActivity()" ng-if="!job.archived">Add Activity</button>
        </div>
    </ion-footer-bar>
</ion-view>