﻿<ion-view can-swipe-back="false">
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
        <!--<button type="button" class="button button-icon icon ion-navicon button-positive" ng-click="showJobMenuOptions($event)"></button>-->
    </ion-header-bar>    
    <ion-content scrollbar-y="false" has-bouncing="true">
        <div class="list">
            <a class="item item-icon-right" href="#" ng-click="GeneralInfo()">
                {{job.jobName}}
                <i class="icon ion-gear-b"></i>
            </a>            
            <div class="item item-divider" ng-click="chooseTrucks()">Trucks<i class="ion-edit pull-right"></i></div>
            <div class="item" style="white-space: normal;">
                {{truckNames.join(', ')}}
            </div>
            <a class="item item-icon-right" href="#" ng-click="Parties()">
                Parties
                <i class="icon ion-navicon"></i>
            </a>
            <a class="item item-icon-right" href="#" ng-click="Team()">
                The Team
                <i class="icon ion-android-people"></i>
            </a>
            <a class="item item-icon-right" href="#" ng-click="generalNotes()">
                General Notes
                <i class="icon ion-compose"></i>
            </a>            
            <div class="item item-divider">Activities</div>
            <a href="#" ng-model="CurrentActivity" ng-repeat="activity in activities track by $index" class="item activity-item" ng-click="ActivityDetails(activity)">
                <span ng-bind-html="activity | activityTemplate"></span>
            </a>            
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable">
            <button type="button" class="button button-large button-clear button-icon ion-chevron-left" ng-click="done()">Back</button>
            <button type="button" class="button button-large button-clear button-positive" ng-click="AddActivitySelection()">Add Activity</button>
        </div>
    </ion-footer-bar>
</ion-view>