﻿<ion-popover-view>
    <ion-content>
        <div class="list">            
            <a class="item" href="#" ng-click="manageStaff()">Transfer</a>
            <a class="item" href="#" ng-click="manageStaff()">Delete</a>
        </div>
    </ion-content>
</ion-popover-view>