﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>Job Details</strong></div>
    </ion-header-bar>
    <ion-content class="has-subheader content-hassubheader" overflow-scroll="true">
        <ion-scroll>
        <form name="forms.jobInfoForm">
            <div class="list">
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Job Name</span>
                    <input type="text" placeholder="Job Name" ng-model="jobInfo.jobName" ng-required="true" name="jobName" />
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">TMP Name</span>
                    <input type="text" placeholder="TMP" ng-model="jobInfo.tmpName" name="reference">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">TMP Reference #</span>
                    <input type="text" placeholder="TMP" ng-model="jobInfo.reference" name="reference" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <input type="text" placeholder="Description" ng-model="jobInfo.description" name="description" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address" ng-model="jobInfo.address" name="address" g-places-autocomplete options="gplacesOptions" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">RP From</span>
                    <input type="text" placeholder="RP From" ng-model="jobInfo.rpFrom" name="rpfrom">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">RP To</span>
                    <input type="text" placeholder="RP To" ng-model="jobInfo.rpTo" name="rpto">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">PO</span>
                    <input type="text" placeholder="PO Number" ng-model="jobInfo.poNumber" name="poNumber" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Expected Start Date & Time</span>
                    <input type="datetime-local" placeholder="Expected Start Date" ng-model="jobInfo.expectedStartDate" name="expectedStartDate" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Expected Days Duration</span>
                    <input type="number" placeholder="Expected Days Duration" ng-model="jobInfo.expectedDaysDuration" name="expectedDaysDuration" />
                </label>
                <div>
                    <ion-checkbox class="compact-ion-checkbox" ng-model="jobInfo.emergencyCallout">Emergency Callout</ion-checkbox>
                </div>
                <div>
                    <ion-checkbox class="compact-ion-checkbox" ng-model="jobInfo.fences">Fences/Gates</ion-checkbox>
                </div>

                <div class="row" ng-show="jobInfo.fences === true">
                    <div style="padding: 6px 0 5px 16px">
                        <label class="control-label">Quantity</label>
                        <input type="number" class="bordered" style="display: inline-block; width: 4em; margin-left: 4px; padding-left:5px;" placeholder="0" ng-model="jobInfo.fencesQuantity" />

                        <label class="control-label">Price Per Day/Unit</label>
                        <input type="number" class="bordered" ng-model="jobInfo.fencesPrice" style="display: inline-block; width: 4em; margin-left: 4px; padding-left: 5px; " placeholder="0" />
                    </div>
                </div>
                <div class="item item-divider" style="padding-top: 5px; padding-bottom: 5px; font-size: 14px;">Road Levels</div>
                <div class="item" style="padding: 0;">
                    <div class="row">
                        <div class="col" ng-repeat="level in roadLevels | limitTo:3">
                            <ion-checkbox class="compact-ion-checkbox" ng-model="level.checked">{{level.name}}</ion-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" ng-repeat="level in roadLevels | limitTo:3:3">
                            <ion-checkbox class="compact-ion-checkbox" ng-model="level.checked">{{level.name}}</ion-checkbox>
                        </div>
                    </div>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Expected Closure Types</span>
                    <p style="white-space:normal">{{jobInfo.expectedClosureTypes}}</p>
                </label>
                <div class="item item-input item-stacked-label">
                    <span class="input-label">Notes for STMS</span>
                    <textarea ng-model="jobInfo.notes" class="" rows="4"></textarea>
                </div>
                <div class="item item-divider" style="padding-top: 5px; padding-bottom: 5px; font-size: 14px;">Parties</div>
                <div class="item item-party">
                    <div class="">Road Controlling Authority</div>
                    <select class="full-width" ng-model="jobInfo.parties.rcaId" ng-change="getOtherParties(jobInfo.parties.rcaId)" ng-options="rca.id as rca.organisationName for rca in rcas">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party">
                    <div class="">Contractor</div>
                    <select class="full-width" ng-model="jobInfo.parties.contractorId" ng-disabled="!jobInfo.parties.rcaId" ng-change="getBranches(jobInfo.parties.contractorId)" ng-options="contractor.id as contractor.contractorName for contractor in contractors">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party">
                    <div class="">Contractor Branch</div>
                    <select class="full-width" ng-model="jobInfo.parties.contractorBranchId" ng-disabled="!jobInfo.parties.contractorId" ng-change="getProjectManagers(jobInfo.parties.contractorBranchId)" ng-options="contractorBranch.id as contractorBranch.branch for contractorBranch in contractorBranches">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party">
                    <div class="">Project Manager</div>
                    <select class="full-width" ng-model="jobInfo.parties.projectManagerId" ng-change="GetProjectManagersNumber(jobInfo.parties.projectManagerId)" ng-disabled="!jobInfo.parties.contractorBranchId" ng-options="projectManager.id as projectManager.fullName for projectManager in projectManagers">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party">
                    <div class="">Project Manager #</div>
                    <input type="text" class="full-width" placeholder="Project Manager Contact" ng-model="jobInfo.parties.projectManagerMobile" ng-disabled="true">
                </div>
                <div class="item item-party">
                    <div class="">Asset Owner</div>
                    <select class="full-width" ng-model="jobInfo.parties.assetOwnerId" ng-disabled="!jobInfo.parties.rcaId" ng-options="assetOwner.id as assetOwner.organisationName for assetOwner in assetOwners">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party item-stacked-label">
                    <span class="input-label">Asset Name/Number</span>
                    <input type="text" class="full-width" ng-model="jobInfo.parties.assetNumber" />
                </div>
                <div class="item item-party item-stacked-label">
                    <span class="input-label">Onsite Contact</span>
                    <input type="text" class="full-width" ng-model="jobInfo.parties.onsiteContact" />
                </div>
                <div class="item item-party item-stacked-label">
                    <span class="input-label">Contact #</span>
                    <input type="text" class="full-width" ng-model="jobInfo.parties.onsiteContactNum" />
                </div>

                <div class="item item-party item-stacked-label">
                    <span class="input-label">Onsite Contact Signature</span>
                    <button class="button button-stable button-small pull-right" ng-click="clearSignaturePad()" style="padding-top: 0;padding-bottom: 0;border-color: #b2b2b2;">Clear</button>
                    <div style="clear: both;padding-top: 5px;"></div>
                    <div id="signature_pad" style="border: 1px solid black;min-height: 250px;"></div>
                </div>

            </div>
        </form>
        </ion-scroll>        
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>            
            <button class="button button-clear button-positive" ng-click="done()" ng-if="!jobInfo.archived">Done</button>
        </div>
    </ion-footer-bar>
</ion-view>