﻿<ion-popover-view style="width: 80%;max-width: 80%;">
    <ion-content>
        <div class="list">
            <a class="item" href="#" ng-click="generateOnsiteRecordPdf()">
                Generate On-Site Record PDF
            </a>
            <a ng-show="job.tmpFiles !=undefined &&  job.tmpFiles.length > 0" class="item" href="#" ng-click="downloadTmpFiles($event)">
                Download TMP
            </a>            
        </div>
    </ion-content>
</ion-popover-view>