﻿<ion-view can-swipe-back="false">
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" ng-class="{ 'alertNewVersion': hasNewVersion() }" ng-click="showLatestVersion(false)"/>
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
        <button type="button" class="button button-icon icon ion-navicon button-positive" ng-click="adminOptions($event)"></button>
    </ion-header-bar>
    <ion-content scrollbar-y="false" has-bouncing="true" class="">        
        <div class="button-bar bar-light tab-buttons">
            <button class="button button-clear" style="border-radius: 0;" ng-class="{'button-positive': activeTab == 1}" ng-click="changeTab(1)">Active Jobs</button>
            <button class="button button-clear" style="border-radius: 0;" ng-class="{'button-positive': activeTab == 2}" ng-click="changeTab(2)">Archived Jobs</button>
        </div>        
        <div class="list">            
            <label class="item item-input">                
                <input type="text" placeholder="Search" ng-model="searchJobs" id="searchJobsInput">    
                <i class="icon ion-search placeholder-icon search-mt"></i>
            </label>
            <!-- <div class="item item-divider">Jobs</div>             -->
            <!--
            <div class="item item-button-right" ng-class="job.cssClass" href="#" ng-repeat="job in jobs | filter: searchJobs track by $index" ng-click="loadJob(job.id)">
                {{job.jobName}}<span class="pull-right" ng-show="job.complete">Complete</span>                
                <button type="button" class="button button-icon dark" ng-click="showItemOptions(job, $event)">
                    <i class="icon ion-more"></i>
                </button>                
            </div>
            -->
            <div class="item item-divider" ng-repeat-start="shiftDate in jobs">
                {{shiftDate.shiftDate}}                
            </div>
            <div class="item item-button-right" ng-class="job.cssClass" ng-repeat-end ng-repeat="job in shiftDate.jobs | filter: searchJobs track by $index" ng-click="confirmLoadJob(job)">
                {{job.jobName}}<span class="pull-right" ng-show="job.complete">Complete</span>                
                <button type="button" class="button button-icon dark" ng-click="showItemOptions(job, $event)" ng-if="activeTab == 1">
                    <i class="icon ion-more"></i>
                </button>                
            </div>            
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable">           
            <button type="button" class="button button-large button-clear button-positive" ng-click="newJob()">New Job</button>            
        </div>
    </ion-footer-bar>
</ion-view>