﻿<ion-view>
    <ion-content overflow-scroll="false">
        <div class="row">
            <div class="col" style="text-align: center;">
                <img src="img/logoonlogin.png" style="width: 100%;" />
            </div>
        </div>
        <div class="list list-inset">
            <form name="form" novalidate>
                <label class="item item-input">
                    <input type="email" placeholder="Email" id="loginEmailInput" ng-model="loginCredentials.email" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" id="loginPasswordInput" ng-model="loginCredentials.password" required>
                </label>
            </form>
        </div>
        <div class="padding text-center">
            <button class="button button-block button-positive" ng-click="form.$valid ? login() : return" ng-disabled="!form.$valid">Login</button>
            <button type="button" class="button button-clear button-calm" ng-click="forgotPassword()" style="text-align: center;">Forgot Password?</button>
        </div>
    </ion-content>
</ion-view>