﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title">Manage Staff</div>
    </ion-header-bar>    
    <ion-content class="has-subheader content-hassubheader">
        <div class="list">
            <div class="item item-input">
                <input type="text" placeholder="Search" ng-model="filters.search">
                <i class="icon ion-search placeholder-icon search-mt"></i>
            </div>
            <div class="item item-party">
                <select class="full-width" ng-model="filters.branchId" ng-options="branch.id as branch.branch for branch in branches">
                    <option value="">Branch...</option>
                </select>                
            </div>           
            <!--<a class="item item-thumbnail-left fade" href="#" ng-repeat="member in staff track by member.id | filter:search | selectBranch:branchId" ng-click="edit(member)">-->
          <a class="item item-thumbnail-left fade" href="#" ng-repeat="member in staff | filter:filters.search | filter:filters.branchId track by $index" ng-click="edit(member)">
            <img data-ng-src="{{(member.photo == null || member.photo.length == 0) ? 'img/staff-icon.jpg' : 'data:image/jpeg;base64,' + member.photo }}" />
            <p>
              {{member.fullName}}<br />
              {{getBranchName(member)}}<br />
            </p>
          </a>            
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="close()">Back</button>
            <button class="button button-positive button-clear" ng-click="new()">Add New</button>
        </div>
    </ion-footer-bar>
</ion-view>