﻿<ion-view>
    <form name="form" novalidate>
        <ion-header-bar align-title="center" class="sitepro-titlebar">
            <!--<h1 class="title">Site Pro</h1>-->
            <div class="buttons">
                <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
            </div>
            <span class="title"><img src="img/logotext512.png" width="100" /></span>
        </ion-header-bar>
        <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
            <div class="title"><strong>New Job</strong></div>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Job Name" ng-model="job.jobName" ng-required="true">
                    <input type="hidden" ng-model="job.expectedDaysDuration" />
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="TMP Name" ng-model="job.tmpName">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="TMP Reference #" ng-model="job.reference">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="job.description">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="job.address" g-places-autocomplete options="gplacesOptions" />
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="RP From" ng-model="job.rpFrom">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="RP To" ng-model="job.rpTo">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="PO #" ng-model="job.poNumber">
                </label>
                <div>
                    <ion-checkbox class="compact-ion-checkbox" ng-model="job.emergencyCallout">Emergency Callout</ion-checkbox>
                </div>
                <div>
                    <ion-checkbox class="compact-ion-checkbox" ng-model="job.fences">Fences/Gates</ion-checkbox>
                </div>
                <div class="row" ng-show="job.fences === true">
                    <div style="padding: 6px 0 5px 16px">
                        <label class="control-label">Quantity</label>
                        <input type="number" class="bordered" style="display: inline-block; width: 4em; margin-left: 4px; padding-left:5px;" placeholder="0" ng-model="job.fencesQuantity" />

                        <label class="control-label">Price Per Day/Unit</label>
                        <input type="number" class="bordered" ng-model="job.fencesPrice" style="display: inline-block; width: 4em; margin-left: 4px; padding-left: 5px; " placeholder="0" />
                    </div>
                </div>
                <div class="item item-divider" style="padding-top: 5px; padding-bottom: 5px; font-size: 14px;">Road Levels</div>
                <div class="item" style="padding: 0;">
                    <div class="row">
                        <div class="col" ng-repeat="level in roadLevels | limitTo:3">
                            <ion-checkbox class="compact-ion-checkbox" ng-model="level.checked">{{level.name}}</ion-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" ng-repeat="level in roadLevels | limitTo:3:3">
                            <ion-checkbox class="compact-ion-checkbox" ng-model="level.checked">{{level.name}}</ion-checkbox>
                        </div>
                    </div>
                </div>
                <div class="item item-divider" ng-click="chooseTrucks()">Trucks<i class="ion-edit pull-right"></i></div>
                <div class="item" style="white-space: normal;">
                    {{truckNames.join(', ')}}
                </div>
                <div class="item item-divider">Parties</div>
                <div class="item item-party">
                    <div class="">Road Controlling Authority</div>
                    <select class="full-width" ng-model="job.parties.rcaId" ng-change="getOtherParties(job.parties.rcaId)" ng-options="rca.id as rca.organisationName for rca in RCAs">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party">
                    <div class="">Contractor</div>
                    <select class="full-width" ng-model="job.parties.contractorId" ng-change="GetBranches(job.parties.contractorId)" ng-options="contractor.id as contractor.contractorName for contractor in contractors track by contractor.id" ng-disabled="job.parties.rcaId == null">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party">
                    <div class="">Contractor Branch</div>
                    <select class="full-width" ng-model="job.parties.contractorBranchId" ng-change="GetProjectManagers(job.parties.contractorBranchId)" ng-options="contractorBranch.id as contractorBranch.branch for contractorBranch in contractorBranches track by contractorBranch.id" ng-disabled="job.parties.contractorId == null">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party">
                    <div class="">Project Manager</div>
                    <select class="full-width" ng-model="job.parties.projectManagerId" ng-change="GetProjectManagersNumber(job.parties.projectManagerId)" ng-options="projectManager.id as projectManager.fullName for projectManager in projectManagers track by projectManager.id" ng-disabled="job.parties.contractorBranchId == null">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party">
                    <div class="">Project Manager #</div>
                    <input type="text" class="full-width" placeholder="Project Manager Contact" ng-model="job.parties.projectManagerNumber" ng-disabled="true">
                </div>
                <div class="item item-party">
                    <div class="">Asset Owner</div>
                    <select class="full-width" ng-model="job.parties.assetOwnerId" ng-options="assetOwner.id as assetOwner.organisationName for assetOwner in assetOwners track by assetOwner.id" ng-disabled="job.parties.rcaId == null">
                        <option value="">Please select...</option>
                    </select>
                </div>
                <div class="item item-party item-stacked-label">
                    <span class="input-label">Asset Name/Number</span>
                    <input type="text" class="full-width" ng-model="job.parties.assetNumber" />
                </div>
                <div class="item item-party item-stacked-label">
                    <span class="input-label">Onsite Contact</span>
                    <input type="text" class="full-width" ng-model="job.parties.onsiteContact" />
                </div>
                <div class="item item-party item-stacked-label">
                    <span class="input-label">Contact #</span>
                    <input type="text" class="full-width" ng-model="job.parties.onsiteContactNum" />
                </div>
                <div class="item item-party item-stacked-label">
                    <span class="input-label">Onsite Contact Signature</span>
                    <button class="button button-stable button-small pull-right" ng-click="clearSignaturePad()" style="padding-top: 0;padding-bottom: 0;border-color: #b2b2b2;">Clear</button>
                    <div style="clear: both;padding-top: 5px;"></div>
                    <div id="signature_pad_new" style="border: 1px solid black;min-height: 250px;"></div>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar>           
            <div class="button-bar">
                <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="Cancel()">Cancel</button>
                <button type="button" class="button button-clear button-large button-positive" ng-click="done()">Done</button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>