﻿<ion-view>
    <form name="form">
        <ion-header-bar align-title="center">
            <h1 class="title">Site Pro</h1>
        </ion-header-bar>
        <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
            <div class="title">New Team Member</div>
        </ion-header-bar>
        <ion-content class="has-subheader content-hassubheader">
            <div class="row">
                <div class="col">                    
                    <img data-ng-src="{{member.photo == null || member.photo.length == 0 ? 'img/staff-icon.jpg' : 'data:image/jpeg;base64,' + member.photo}}" style="width: 100%;" />
                    <button class="button button-small button-default full-width" ng-click="addPhoto()">Add Photo</button>
                </div>
                <div class="col col-67">
                    <div class="list">
                        <div class="item item-input">
                            <input type="text" placeholder="Staff Name" ng-model="member.fullName" required />
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Phone" ng-model="member.phone" />
                        </div>
                        <div class="item item-input">
                            <input type="text" placeholder="Qualification" ng-model="member.qualification" />
                        </div>
                        <div class="item item-party">
                            <select class="full-width" ng-model="member.branchId" ng-options="branch.id as branch.branch for branch in branches" required>
                                <option value="">Branch...</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label class="item item-input">
                            <textarea placeholder="Notes" ng-model="member.notes"></textarea>
                        </label>
                    </div>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar>
            <div class="button-bar">
                <!--<a href="#" class="button button-stable" ng-click="Cancel()">Cancel</a>-->
                <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="cancel()">Back</button>
                <button class="button button-clear button-positive" ng-click="done();">Done</button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>