﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader" style="display: block;">
        <div><b>On-Site Record Item</b></div>
        <div>{{headers.jobName}}</div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item">
                {{item.itemName}} {{isComplete}}
            </div>
            <div class="item no-vr-pad">
                <div class="button-bar">
                    <button type="button" class="button button-icon icon ion-close" ng-class="{ 'onsiterecorditem-checkedwithissues' : item.checkedWithIssues}" ng-click="setCheckedWithIssues()" ng-disabled="isComplete || isJobArchived"></button>
                    <button type="button" class="button button-icon icon ion-checkmark" ng-class="{ 'onsiterecorditem-checked' : item.checked}" ng-click="setChecked()" ng-disabled="isComplete || isJobArchived"></button>                    
                </div>
            </div>
            <div class="item item-divider">
                Notes
            </div>
            <div class="item item-input">
                <textarea ng-model="item.notes" ng-readonly="isComplete || isJobArchived"></textarea>
            </div>
            <div class="item item-divider">
                Photos<span class="pull-right">{{item.photos.length}}</span>
            </div>
            <div class="item item-thumbnail-left item-icon-right item-button-right" ng-repeat="photo in item.photos">
                <img ng-src="{{photo.path}}" />
                <span style="font-size: 14px;">
                    Created:<br /> {{photo.created | date:'hh:mm a dd-MM-yyyy'}}
                </span>
                <button class="button button-icon icon ion-close" ng-click="removePhoto($index)" ng-show="!isComplete"></button>
            </div>            
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="done()">Back</button>
            <button type="button" class="button button-icon icon ion-camera" ng-click="getPhoto()" ng-if="!isComplete && !isJobArchived"></button>
        </div>
        <!-- <div class="button-bar bar-stable" ng-show="fields.complete">
            <button type="button" class="button button-clear button-icon ion-chevron-left" ng-click="done()">Back</button>
        </div> -->
    </ion-footer-bar>
</ion-view>