﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader" style="display: block;">
        <div><b>{{activityHeaders.name}}</b></div>
        <div>{{activityHeaders.jobName}}</div>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="margin-bottom: 0">
            <div class="item">
                Time<span style="float: right;">{{activity.startTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
        </div>
        <div class="grid-border">
            <div class="list">
                <div class="item wrap-item" ng-repeat-start="item in activity.siteCheckItems" ng-click="itemDetails(item)">
                    {{item.itemName}}
                </div>
                <div class="item no-vr-pad" ng-repeat-end>
                    <div class="button-bar">
                        <button type="button" class="button button-icon icon" ng-class="{ 'assertive': item.photos.length > 0}" ng-click="getPhoto(item)" ng-disabled="activity.endTime || isJobArchived" style="font-size: 1.8em;">
                            <i class="ion-camera"></i>/<i class="ion-compose"></i>
                        </button>                        
                        <button type="button" class="button button-icon icon ion-close" ng-class="{ 'onsiterecorditem-checkedwithissues' : item.checkedWithIssues}" ng-click="setCheckedWithIssues(item)" ng-disabled="activity.endTime || isJobArchived"></button>
                        <button type="button" class="button button-icon icon ion-checkmark" ng-class="{ 'onsiterecorditem-checked' : item.checked}" ng-click="setChecked(item)" ng-disabled="activity.endTime || isJobArchived"></button>
                        <button type="button" class="button button-icon" ng-class="{ 'onsiterecorditem-notapplicable' : item.notApplicable}" ng-click="setNotApplicable(item)" ng-disabled="activity.endTime || isJobArchived" style="font-size: 1.5em;">
                            <b>NA</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="item item-input item-stacked-label">
                <button type="button" class="button button-icon icon button-inline-right" ng-click="voiceToText()" ng-if="!activity.endTime && !isJobArchived">
                    <i class="ion-mic-a"></i>
                    <i class="ion-arrow-right-a"></i>
                    <i class="ion-compose"></i>
                </button>
                <span class="input-label">Notes</span>
                <textarea rows="4" ng-model="activity.notes" ng-readonly="activity.endTime || isJobArchived"></textarea>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable" ng-show="activity.endTime == null && !activity.isCancelled">
            <button type="button" class="button button-clear button-positive" ng-click="done()">Done</button>
            <button type="button" class="button button-clear" ng-click="cancel()">Cancel</button>
        </div>
        <div class="button-bar bar-stable" ng-show="activity.endTime">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>
        </div>
    </ion-footer-bar>
</ion-view>