﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>Parties</strong></div>
    </ion-header-bar>
    <ion-content class="has-subheader content-hassubheader">
        <div class="list">
            <div class="item item-party">
                <div class="">Road Controlling Authority</div>                
                <select class="full-width" ng-model="parties.rcaId" ng-change="getOtherParties(parties.rcaId)" ng-options="rca.id as rca.organisationName for rca in rcas" >
                    <option value="">Please select...</option>
                </select>
            </div>
            <div class="item item-party">
                <div class="">Contractor</div>
                <select class="full-width" ng-model="parties.contractorId" ng-disabled="!parties.rcaId" ng-change="getBranches(parties.contractorId)" ng-options="contractor.id as contractor.contractorName for contractor in contractors">
                    <option value="">Please select...</option>
                </select>                
            </div>
            <div class="item item-party">
                <div class="">Contractor Branch</div>
                <select class="full-width" ng-model="parties.contractorBranchId" ng-disabled="!parties.contractorId" ng-change="getProjectManagers(parties.contractorBranchId)" ng-options="contractorBranch.id as contractorBranch.branch for contractorBranch in contractorBranches">
                    <option value="">Please select...</option>
                </select>
            </div>
            <div class="item item-party">
                <div class="">Project Manager</div>
                <select class="full-width" ng-model="parties.projectManagerId" ng-disabled="!parties.contractorBranchId" ng-options="projectManager.id as projectManager.fullName for projectManager in projectManagers">
                    <option value="">Please select...</option>
                </select>                
            </div>
            <div class="item item-party item-stacked-label">
                <span class="input-label">Onsite Contact</span>
                <input type="text" class="full-width" ng-model="parties.onsiteContact"/>
            </div>
            <div class="item item-party item-stacked-label">
                <span class="input-label">Contact #</span>
                <input type="text" class="full-width" ng-model="parties.onsiteContactNum"/>
            </div>
            <div class="item item-party">
                <div class="">Asset Owner</div>
                <select class="full-width" ng-model="parties.assetOwnerId" ng-disabled="!parties.rcaId" ng-options="assetOwner.id as assetOwner.organisationName for assetOwner in assetOwners">
                    <option value="">Please select...</option>
                </select>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>
            <button type="button" class="button button-large button-positive button-clear" ng-click="done()">Done</button>
        </div>
    </ion-footer-bar>
</ion-view>