﻿<ion-modal-view ng-controller="PartiesReminderCtrlr">
    <ion-header-bar>
        <h1 class="title">Job Parties</h1>
    </ion-header-bar>
    <ion-content>
        <div>
            Please fill in the required parties.
        </div>
        <div>
            Remind me every
            <select>
                <option>10 mins</option>
                <option>30 mins</option>
                <option>60 mins</option>
            </select>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button button-stable" ng-click="Close()">Close</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>