﻿<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Choose Team Members</h1>
        <button class="button button-icon icon ion-refresh" ng-click="refreshData()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="margin-bottom: 0;border-bottom: none;">
            <div class="item item-party">                
                <select class="full-width" ng-model="branchId" ng-options="branch.id as branch.branch for branch in branches">
                    <option value="">Branch...</option>
                </select>
            </div>
            <div class="item item-party">                
                <select class="full-width" ng-model="agencyId" ng-options="agency.id as agency.agencyName for agency in agencies | filter:branchId">
                    <option value="">Agency...</option>
                </select>
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Search" ng-model="staffName">
                <i class="icon ion-search placeholder-icon search-mt"></i>
            </label>            
        </div>        
        <div class="list">
            <div class="item item-thumbnail-left item-button-right fade" ng-repeat="staff in agenciesStaff | filterAgenciesStaff:agencyId | filter: staffName">
                <img data-ng-src="{{staff.photo == null || staff.photo.length == 0 ? 'img/staff-icon.jpg' : 'data:image/jpeg;base64,' + staff.photo }}" />
                <p>{{staff.fullName}}<br />{{staff.staffType}}</p>
                <button type="button" class="button button-balanced" ng-click="selectStaff(staff)">Add</button>
            </div>            
        </div>
        
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="done()">Back</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>