﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader" style="display: block;">
        <div><b>{{activityHeaders.name}}</b></div>
        <div>{{activityHeaders.jobName}}</div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item" ng-show="activity.startTime && activity.endTime">
                <span class="pull-right runtime">{{activitySummary.totalDuration}}</span>
            </div>
            <div class="item" ng-show="activity.endTime == null">
                <timer ng-attr-start-time="activity.startTime" class="pull-right runtime" autostart="false" ng-show="activity.endTime == null">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
            </div>
            <div class="item">
                Start Time <span class="pull-right">{{activity.startTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <div class="item">
                End Time <span class="pull-right">{{activity.isCancelled ? 'Cancelled' : activity.endTime | date:'hh:mm a dd-MM-yyyy'}}</span>
            </div>
            <div class="item item-divider item-button-right">
                Closure Types
                <button class="button button-icon icon ion-edit divider-button" ng-show="activity.endTime == null" ng-click="editClosureTypes()" ng-if="activity.activityType !== 8"></button>
            </div>
            <div class="item" ng-repeat="closure in activity.addedClosureTypes">{{closure}}</div>
            <div class="item item-divider">
                Temporary Speed Limits
            </div>

            <div class="item no-vr-pad" ng-repeat="tsl in activity.tsls track by $index">
                <div class="row no-hr-pad">
                    <div class="col no-pad">
                        <div ng-if="$index % 2 === 0">
                            <span><strong>From</strong> </span>
                            <div class="pull-right" ng-if="activity.activityType !== 8 && activity.endTime == null || activity.isCancelled">
                                <button type="button" class="button button-small button-icon icon ion-edit" ng-click="editTsl($index, tsl)"></button>
                                <button type="button" class="button button-small button-icon icon ion-trash-b" ng-click="removeTsl(tsl)"></button>
                            </div>
                        </div>

                        <div ng-if="$index % 2 === 1">
                            <span><strong>To</strong> </span>
                        </div>

                        <div style="clear: both;"></div>
                        <div class="bottom-border-a">Permanent Limit<span class="pull-right">{{tsl.PermanentLimit == 200 ? 'Open Rd' : tsl.PermanentLimit + ' Kph'}}</span></div>
                        <div class="bottom-border-a">Temporary Limit<span class="pull-right">{{tsl.Limit}} Kph</span></div>
                        <div class="bottom-border-a">Time<span class="pull-right">{{tsl.Timestamp | date:'hh:mm a dd-MM-yyyy'}}</span></div>
                        <div class="bottom-border-a">Address<span class="pull-right" style="width: 70%;white-space: normal;">{{tsl.address}}</span><div style="clear: both;"></div></div>
                        <div class="bottom-border-a" style="clear: both;">RP<span class="pull-right">{{tsl.rp}}</span></div>
                        <div class="bottom-border-a" ng-if="$index > 0">Length<span class="pull-right">{{tsl.length}}</span></div>
                        <div ng-if="tsl.tslRemoved">TSL Removed<span class="pull-right">{{tsl.tslRemoved | date:'hh:mm a dd-MM-yyyy'}}</span></div>
                    </div>
                </div>
                <div class="row no-hrd-pad" ng-if="(activity.endTime == null || activity.isCancelled == true) && activity.activityType === 8 && !tsl.tslRemoved">
                    <div class="col no-pad">
                        <button type="button" class="button button-small button-calm button-block" style="text-align: center;" ng-click="tslRemoved(tsl)">TSL Removed</button>
                    </div>
                </div>
            </div>
            <div class="item item-input item-stacked-label">
                <button type="button" class="button button-icon icon button-inline-right" ng-click="voiceToText()" ng-if="activity.endTime == null && !isJobArchived">
                    <i class="ion-mic-a"></i>
                    <i class="ion-arrow-right-a"></i>
                    <i class="ion-compose"></i>
                </button>
                <button type="button" class="button button-icon icon button-inline-right" ng-click="saveNotes()" ng-show="btns.saveNotesEnabled" style="padding-right: 20px;" ng-if="activity.endTime == null && !isJobArchived">
                    <i class="ion-checkmark-round"></i>
                </button>
                <span class="input-label">Notes</span>
                <textarea rows="4" ng-model="activity.notes" ng-change="enableSaveNotesBtn()" ng-readonly="activity.endTime != null || isJobArchived"></textarea>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar" ng-show="activity.endTime == null && !activity.isCancelled">
            <button type="button" class="button button-large icon-left ion-chevron-left button-clear button-positive" ng-click="stop()">Save</button>
            <button type="button" ng-if="showTSL" class="button button-clear button-positive" ng-click="addTSL()">TSL</button>
            <button type="button" class="button button-clear button-positive" ng-click="cancel()">Cancel</button>
        </div>
        <div class="button-bar" ng-show="activity.isCancelled || activity.endTime">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>
        </div>
    </ion-footer-bar>
</ion-view>