﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title">{{mode}} Staff</div>
    </ion-header-bar>  
    <ion-content class="has-subheader content-hassubheader">
        <div class="row">
            <div class="col">                
                <img data-ng-src="{{staff.photo == null || staff.photo.length == 0 ? 'img/staff-icon.jpg' : 'data:image/jpeg;base64,' + staff.photo}}" style="width: 100%;" />
                <button class="button button-small button-default full-width" ng-click="addPhoto()">Add Photo</button>
            </div>
            <div class="col col-67">
                <div class="list">
                    <div class="item item-input">
                        <input type="text" placeholder="staff Name" ng-model="staff.fullName" required />
                    </div>
                    <div class="item item-input">
                        <input type="text" placeholder="Phone" ng-model="staff.phone" />
                    </div>
                    <div class="item item-input">
                        <input type="text" placeholder="Qualification" ng-model="staff.qualification" />
                    </div>
                    <div class="item item-party">
                        <select class="full-width" ng-model="staff.branchId" ng-options="branch.id as branch.branch for branch in branches" required>
                            <option value="">Branch...</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">
                    <label class="item item-input">
                        <textarea placeholder="Notes" ng-model="staff.notes"></textarea>
                    </label>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">            
            <!--<a href="#" class="button button-default" ng-click="Cancel()">Cancel</a>-->
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="cancel()">Back</button>
            <button class="button button-positive button-clear" ng-click="done()">Done</button>
        </div>
    </ion-footer-bar>
</ion-view>