﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>Edit Team Members</strong></div>
    </ion-header-bar>    
    <ion-content class="has-subheader content-hassubheader">
        <div class="list">
            <div class="item item-thumbnail-left item-button-right" ng-repeat="member in members">
                <img data-ng-src="{{member.photo == null || member.photo.data.length == 0 ? 'img/staff-icon.jpg' : 'data:image/jpeg;base64,' + member.photo.data }}" />
                <p>
                    {{member.fullName}}<br />
                    {{member.branchName}}<br />
                </p>
                <button type="button" class="button button-icon icon ion-close assertive"></button>
            </div>            
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="cancel()">Back</button>
            <button class="button button-clear button-positive" ng-click="find()">Find</button>
            <button class="button button-clear button-positive" ng-click="new()">New</button>            
        </div>
    </ion-footer-bar>
</ion-view>