﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>The Team</strong></div>
    </ion-header-bar>
    <ion-content class="has-subheader content-hassubheader">
        <div class="list">
            <div class="item item-thumbnail-left fade" href="#" ng-repeat="member in teamMembersList">                
                <img data-ng-src="{{member.photo == null || member.photo.length == 0 ? 'img/staff-icon.jpg' : 'data:image/jpeg;base64,' + member.photo }}" ng-click="teamMemberLog(member)" />
                <button class="button button-icon icon ion-close pull-right" ng-click="remove(member.id)" ng-show="!member.isCurrentUser" ng-if="!isJobArchived"></button>                                
                <p ng-click="showTimeLogs(member.id)">
                    {{member.fullName}}
                    <div ng-show="member.staffType">({{member.staffType}})</div>
                    Start Time: {{member.lastStartTime | date:'hh:mm a' }}<br />
                    End Time: {{member.lastEndTime | date:'hh:mm a' }}
                </p>                
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>
            <button class="button button-clear button-positive" ng-click="addMember()" ng-if="!isJobArchived">Find</button>
            <button class="button button-clear button-positive" ng-click="newMember()" ng-if="!isJobArchived">New</button>
            <button class="button button-clear button-positive" ng-click="toggleAll(0)" ng-if="!isJobArchived">Start All</button>
            <button class="button button-clear button-positive" ng-click="toggleAll(3)" ng-if="!isJobArchived">End All</button>
        </div>
    </ion-footer-bar>
</ion-view>