﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title">Team Member Log</div>
    </ion-header-bar>
    <ion-content class="has-subheader content-hassubheader">
        <div class="list">
            <div class="item item-thumbnail-left item-button-right">
                <img data-ng-src="{{Member.photo == null || Member.photo.length == 0 ? 'img/staff-icon.jpg' : 'data:image/jpeg;base64,' + Member.photo }}" />
                <p>
                    {{teamMemberLogs.fullName}}<br />
                    <span ng-if="teamMemberLogs.staffType">{{teamMemberLogs.staffType}}<br/></span>
                    {{teamMemberLogs.branchName}}<br />
                </p>
            </div>
            <div class="item item-divider">Summary</div>
            <div class="item">
                Work Time (hh:mm)<span class="pull-right">{{timeLogsSummary.workDurationHours + ':' + timeLogsSummary.workDurationMins}}</span>
            </div>
            <div class="item">
                Unpaid break(mins)<span class="pull-right">{{teamMemberLogs.totalBreakTimeMinutes}}</span>
            </div>
            <!-- <div class="item">
                Break Time (hh:mm)<span class="pull-right">{{timeLogsSummary.breakDurationHours + ':' + timeLogsSummary.breakDurationMins}}</span>
            </div> -->
            <div class="item">
                Total Time Worked (hh:mm)<span class="pull-right">{{timeLogsSummary.totalWorkTimeHours + ':' + timeLogsSummary.totalWorkTimeMins}}</span>
            </div>
            <div class="item item-divider">Times</div>
            <div class="item" ng-repeat="log in timeLogsList">
                {{log.logTypeName}}<span class="pull-right">{{log.time | date:'hh:mm a'}}</span>
            </div>
        </div>
    </ion-content>
        <ion-footer-bar>
            <div class="button-bar">
                <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="done()">Back</button>
                <button type="button" class="button button-icon icon" ng-class="{ 'ion-play': !isWorkTime, 'ion-stop': isWorkTime, 'start-color': !isWorkTime, 'stop-color': isWorkTime }" ng-click="toggleWorkTime()" ng-disabled="isProcessingShift || isBreakTime" ng-if="!isJobArchived"></button>
                <!--
                <button class="button button-icon icon ion-pause" ng-click="pauseTime()" ng-if="lastLog.timeLogType == null || lastLog.timeLogType === 0 || lastLog.timeLogType === 2 || lastLog.timeLogType === 3 && !isJobArchived" ng-disabled="lastLog.timeLogType == null || lastLog.timeLogType === 3"></button>
                <button class="button button-icon icon ion-pause assertive" ng-click="resumeTime()" ng-if="lastLog.timeLogType === 1 && !isJobArchived"></button>
                -->
                <button type="button" class="button button-icon icon ion-trash-a assertive" ng-class="{'breaktime-color': isBreakTime}" ng-click="remove()" ng-disabled="lastLog.timeLogType != null && lastLog.timeLogType < 3" ng-if="!isJobArchived"></button>
            </div>
        </ion-footer-bar>
</ion-view>