﻿<ion-view>
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <!-- <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>The Team</strong></div>
    </ion-header-bar> -->
    <div class="bar bar-subheader">
        <div class="h2 title" style="text-align: left;">The Team</div>
        <button class="button button-clear button-positive" ng-click="toggleAll(0)" ng-if="!isJobArchived">Start All</button>
    </div>
    <ion-content class="has-subheader">
        <div class="row team-member-list-item" ng-repeat="member in teamMembersList">
            <div class="col">
                <div class="row row-center no-vr-pad tm-list-item-controls">
                    <div class="col col-33">
                        <img src="img/staff-icon.jpg" class="img-responsive" ng-click="showTimeLogs(member.id)" />
                    </div>
                    <div class="col">                        
                        <div class="row">
                            <div class="col">
                                <div ng-if="!isJobArchived">
                                    <button class="button button-block button-outline button-dark button-small no-margin" ng-click="startTime(member)" ng-if="!member.isShiftStarted">
                                        <i class="icon ion-play balanced"></i>
                                    </button>
                                    <button class="button button-block button-outline button-dark button-small no-margin" ng-click="stopTime(member)" ng-if="member.isShiftStarted">
                                        <i class="icon ion-stop assertive"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col no-vr-pad">
                                <label class="item item-input" style="padding: 0;">
                                    <span class="input-label" aria-label="Break Time(minutes)" id="_label-0" style="padding-top: 0;padding-bottom: 0;font-weight: bold;">Unpaid break(mins)</span>
                                    <!-- <span class="input-label" aria-label="Break Time(minutes)" id="_label-0" style="padding-top: 0;padding-bottom: 0;">Break Time(minutes)</span> -->
                                    <input type="number" style="padding: 0;text-align: right;" ng-model="member.totalBreakTimeMinutes" ng-change="breakTimeChanged(member)" ng-disabled="isJobArchived" ng-focus="selectValue($index)" id="breakTime_{{$index}}">
                                </label>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col">
                                <button class="button button-block button-outline button-dark button-small no-margin"  ng-click="remove(member.id)" ng-show="!member.isCurrentUser" ng-if="!isJobArchived" ng-disabled="member.lastLogType != null && member.lastLogType < 3">
                                    <i class="icon ion-trash-a"></i>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row no-vr-pad tm-list-item-summary" ng-click="showTimeLogs(member.id)" >
                    <div class="col no-pad">
                        <div class="row no-vr-pad staff-name">
                            <div class="col">{{member.fullName}} <span ng-show="member.staffType">({{member.staffType}}) {{member.agencyAcroNym}}</span></div>
                        </div>
                        <div class="row no-vr-pad">
                            <div class="col" ng-if="member.lastLogType === 0 || member.lastLogType === 2 || member.lastLogType === 3">Start Time: {{member.lastStartTime | date:'hh:mm a' }}</div>
                            <div class="col" ng-if="member.lastLogType === 3">End Time: {{member.lastEndTime | date:'hh:mm a' }}</div>
                            <div class="col" ng-if="member.lastLogType === 1">Break Time: {{member.lastLogTime | date:'hh:mm a' }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Save</button>
            <button class="button button-clear button-positive" ng-click="addMember()" ng-if="!isJobArchived">Add TS</button>
            <button class="button button-clear button-positive" ng-click="selectAgencyStaff()" ng-if="!isJobArchived">Add Agency</button>
            <!-- <button class="button button-clear button-positive" ng-click="newMember()" ng-if="!isJobArchived">New</button> -->
            <!-- <button class="button button-clear button-positive" ng-click="toggleAll(0)" ng-if="!isJobArchived">Start All</button> -->
        </div>
    </ion-footer-bar>
</ion-view>