<ion-view can-swipe-back="false">
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader" style="display: block;">
        <div><b>TMP On-Site Assessment</b></div>
        <div>{{jobName}}</div>
    </ion-header-bar>
    <ion-content has-bouncing="true">
        <div class="list">
            <label class="item item-input item-stacked-label">                
                <span class="input-label">TMP Reference no.</span>
                <input type="text" class="" ng-model="activity.assessment.details.tmpReferenceNo" />                
            </label>
            <label class="item item-input item-stacked-label">                
                <span class="input-label">TMD no(s).</span>
                <input type="text" class="" ng-model="activity.assessment.details.tmdNos" />                
            </label>            
            <label class="item item-input item-input-right">                
                <span class="input-label">TMP expiry</span>
                <input type="date" class="text-right" ng-model="activity.assessment.details.tmpExpiry" ng-change="getExpiryDays('tmpExpiry', 'daysUntilTmpExpired')" />                
            </label>
            <label class="item">
                Days until expired
                <span class="item-note dark">{{activity.assessment.details.daysUntilTmpExpired}}</span>
            </label>
            <div class="item item-input item-stacked-label item-button-right item-text-wrap">
                <span class="input-label">Location</span>
                <textarea ng-model="activity.assessment.details.location"></textarea>
                <button type="button" class="button button-icon icon ion-location calm" ng-click="getCurrentAddress()"></button>
            </div>
            <label class="item item-input item-stacked-label">                
                <span class="input-label">RP From</span>
                <input type="text" class="" ng-model="activity.assessment.details.rpFrom" />                
            </label>
            <label class="item item-input item-stacked-label">                
                <span class="input-label">RP To</span>
                <input type="text" class="" ng-model="activity.assessment.details.rpTo" />                
            </label>            
            <label class="item item-input item-stacked-label">                
                <span class="input-label">CAR Number</span>
                <input type="text" class="" ng-model="activity.assessment.details.carNumber" />                
            </label>
            <label class="item item-input item-input-right">                
                <span class="input-label">CAR expiry</span>
                <input type="date" class="text-right" ng-model="activity.assessment.details.carExpiry" ng-change="getExpiryDays('carExpiry', 'daysUntilExpired')"/>                
            </label>
            <label class="item">
                Days until expired
                <span class="item-note dark">{{activity.assessment.details.daysUntilExpired}}</span>
            </label>            
            <div class="item item-group-start item-button item-button-right item-text-wrap"  
                ng-repeat-start="point in activity.assessment.checkingPoints" 
                ng-if="point.subpoints == undefined && point.pointsToConsider.length > 0"
            >                
                <span class="input-label input-label-full-wrap">{{point.pointsToConsider}}</span>
                <tri-state-toggle has-comment="point.comment.length > 0" ng-model="point.result"></tri-state-toggle>
            </div>
            <div class="item item-group-start item-input item-stacked-label item-checkbox item-checkbox-right item-text-wrap"                  
                ng-if="point.subpoints && point.subpoints.length > 0 && point.pointsToConsider.length > 0"
            >
                <span class="input-label input-label-full-wrap" ng-bind-html="point.pointsToConsider"></span>
            </div>
            <!--top item subpoints-->
            <div class="item item-group-start item-button item-button-right item-text-wrap"
                ng-repeat="subpoint in point.subpoints" 
                ng-if="point.subpoints && point.subpoints.length > 0 && point.pointsToConsider.length == 0"
                ng-class="{'item-group-mid': $middle , 'item-group-end': $last}"
            >
                <span class="input-label input-label-full-wrap">{{subpoint.uiText.length > 0 ? subpoint.uiText : subpoint.pointsToConsider}}</span>
                <tri-state-toggle has-comment="point.comment.length > 0" ng-model="subpoint.result"></tri-state-toggle>
            </div>
            <!--end-->
            <!--template for subpoints-->
            <div class="item item-group-body" ng-if="point.subpoints && point.subpoints.length > 0 && point.pointsToConsider.length > 0">
                <div class="list">
                    <div class="item item-button-right item-text-wrap pad-h10" ng-repeat="subpoint in point.subpoints">                        
                        <span class="input-label input-label-full-wrap">{{subpoint.uiText.length > 0 ? subpoint.uiText : subpoint.pointsToConsider}}</span>
                        <tri-state-toggle has-comment="point.comment.length > 0" ng-model="subpoint.result"></tri-state-toggle>
                    </div>
                </div>
            </div>
            <!--end template-->
            <div class="item item-input item-group-end" ng-repeat-end>
                <textarea placeholder="Comment/Mitigation" ng-model="point.comment" rows="2"></textarea>                
            </div>            
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-light" ng-if="!activity.id">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-dark" ng-click="cancel()">Cancel</button>
            <button type="button" class="button button-clear button-positive" ng-click="done()">Done</button>
        </div>                 
        <div class="button-bar" ng-if="activity.id">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="cancel()">Back</button>
        </div>
    </ion-footer-bar>
</ion-view>
<script type="text/ng-template" id="advisoryMessage.html">
    <ion-list style="padding: 0;">
        <ion-radio ng-model="activity.assessment.assessmentResult" ng-value="1">TMP all good</ion-radio>
        <ion-radio ng-model="activity.assessment.assessmentResult" ng-value="2">TMP issues mitigated</ion-radio>
        <ion-radio ng-model="activity.assessment.assessmentResult" ng-value="3">TMP not suitable</ion-radio>
        <!-- <ion-radio ng-model="advisoryMessage" ng-value="1" ng-init="advisoryMessage = 1">TMP all good</ion-radio>
        <ion-radio ng-model="advisoryMessage" ng-value="2">TMP issues mitigated</ion-radio>
        <ion-radio ng-model="advisoryMessage" ng-value="3">TMP not suitable</ion-radio> -->
        </ion-item>
    </ion-list>
</script>
<script type="text/ng-template" id="selectEmailTargetsModal.html">
    <ion-modal-view>
        <ion-header-bar>
        <h1 class="title">TMP On-Site Assessment</h1>
        </ion-header-bar>
        <ion-content>            
            <div class="list">
                <form name="addOtherForm">
                <div class="item item-divider item-button item-button-right">Add Other
                    <button class="button button-small button-icon icon ion-plus" ng-click="addOtherTarget()" ng-if="!addOtherModel.isNew"></button>
                    <div class="buttons" ng-if="addOtherModel.isNew">
                        <button class="button button-small button-icon icon ion-trash-a" ng-click="cancelOtherTarget()"></button>
                        <button class="button button-small button-icon icon ion-checkmark balanced" ng-disabled="!addOtherForm.$valid" ng-click="saveOtherTarget()"></button>
                    </div>
                </div>
                <div class="item item-input item-stacked-label" ng-if="addOtherModel.isNew">
                    <span class="input-label">Name</span>
                    <input type="text" name="name" ng-model="addOtherModel.name" required/>
                </div>
                <div class="item item-input item-stacked-label" ng-if="addOtherModel.isNew">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" ng-model="addOtherModel.email" required/>
                </div>
                </form>
            </div>
            <div class="list">
                <div class="item item-divider">Recipients</div>
                <div class="item item-text-wrap item-button item-button-right" ng-repeat="recipient in recipients track by $index">
                    {{recipient.name}} ({{recipient.email}})
                    <button class="button butotn-small button-icon icon ion-close assertive" ng-click="removeRecipient(recipient)"></button>
                </div>                
            </div>
            <ul class="list">
                <li class="item item-divider">Phone Contacts</li>
                <li class="item item-input">
                    <i class="icon ion-search placeholder-icon search-mt"></i>
                    <input type="search" value="" placeholder="Search" class="" ng-model="contactsQry"/>
                </li>
                <li class="item item-button item-button-right item-text-wrap" ng-repeat="contact in contacts | filter:contactsQry">                    
                    {{contact.name}} ({{contact.email}})
                    <button class="button butotn-small button-icon icon ion-plus balanced" ng-click="addRecipient(contact)"></button>                    
                </li>
            </ul>                
        </ion-content>
        <ion-footer-bar>
            <div class="button-bar bar-stable">
                <button type="button" class="button icon-left ion-chevron-left button-clear button-dark" ng-click="cancelSendAssessment()">Cancel</button>
                <button type="button" class="button button-clear button-positive" ng-click="sendAssessment()" ng-disabled="recipients.length == 0">Send</button>
            </div>
        </ion-footer-bar>
    </ion-modal-view>
</script>