﻿<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Transfer Job</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item">
                Job Name: {{job.jobName}}
            </div>
            <div class="item item-party">
                <select class="form-control full-width" ng-model="model.branchId" ng-change="getSTMSs(model.branchId)" ng-options="branch.id as branch.branch for branch in branches" required>
                    <option value="">Branch...</option>
                </select>
            </div>
            <div class="item item-party">
                <select class="form-control full-width" ng-model="model.stmsId" ng-options="stms.id as (stms.fullName + '(' + stms.email + ')' )  for stms in stmss" required>
                    <option value="">STMS...</option>
                </select>                
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar bar-stable">
            <button type="button" class="button button-clear button-positive" ng-click="transferJob()">Send</button>
            <button type="button" class="button button-clear button-dark" ng-click="cancelTransfer()">Cancel</button>
        </div>
    </ion-footer-bar>
</ion-modal-view>