﻿<ion-nav>
    <ion-header-bar align-title="center">
        <h1 class="title">Site Pro</h1>
    </ion-header-bar>
    <ion-content>
        <div class="padding-horizontal" style="border-bottom: 1px solid #ddd;"><h5>Temporary Speed Limit</h5></div>
        <div class="">
            <div class="">
                <div class="padding" style="border-bottom: 1px solid #ddd;">
                    <div style="clear: both;">                        
                        <div class="padding-bottom">                
                            Limit        
                            <button type="button" class="button button-icon icon ion-close icon-opt2 assertive" style="float: right;padding-right: 0;padding-top: 0;"></button>
                            <select class="" style="float: right;margin-right: 15px;width: 60px;">
                                <option>30</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                            </select>                            
                        </div>
                    </div>
                    <div>
                        Time: 8:33:45 AM<br />
                        Coordinates: 12.2232122, 12.232134124
                    </div>
                </div>
                <div class="padding" style="border-bottom: 1px solid #ddd;">
                    <div style="clear: both;">
                        <div class="padding-bottom">
                            Limit
                            <button type="button" class="button button-icon icon ion-close icon-opt2 assertive" style="float: right;padding-right: 0;padding-top: 0;"></button>
                            <select class="" style="float: right;margin-right: 15px;width: 60px;">
                                <option>30</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        Time: 8:33:45 AM<br />
                        Coordinates: 12.2232122, 12.232134124
                    </div>
                </div>
                <div class="padding" style="border-bottom: 1px solid #ddd;">
                    <div style="clear: both;">
                        <div class="padding-bottom">
                            Limit
                            <button type="button" class="button button-icon icon ion-close icon-opt2 assertive" style="float: right;padding-right: 0;padding-top: 0;"></button>
                            <select class="" style="float: right;margin-right: 15px;width: 60px;">
                                <option>30</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        Time: 8:33:45 AM<br />
                        Coordinates: 12.2232122, 12.232134124
                    </div>
                </div>
                <div class="padding" style="border-bottom: 1px solid #ddd;">
                    <div style="clear: both;">
                        <div class="padding-bottom">
                            Limit
                            <button type="button" class="button button-icon icon ion-close icon-opt2 assertive" style="float: right;padding-right: 0;padding-top: 0;"></button>
                            <select class="" style="float: right;margin-right: 15px;width: 60px;">
                                <option>30</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        Time: 8:33:45 AM<br />
                        Coordinates: 12.2232122, 12.232134124
                    </div>
                </div>
                <div class="padding" style="border-bottom: 1px solid #ddd;">
                    <div style="clear: both;">
                        <div class="padding-bottom">
                            Limit
                            <button type="button" class="button button-icon icon ion-close icon-opt2 assertive" style="float: right;padding-right: 0;padding-top: 0;"></button>
                            <select class="" style="float: right;margin-right: 15px;width: 60px;">
                                <option>30</option>
                                <option>50</option>
                                <option>60</option>
                                <option>70</option>
                                <option>80</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        Time: 8:33:45 AM<br />
                        Coordinates: 12.2232122, 12.232134124
                    </div>
                </div>
            </div>
        </div>        
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button class="button button-balanced" ng-click="AddTSL()">Add</button>
            <button class="button button-balanced">Done</button>
        </div>
    </ion-footer-bar>
</ion-nav>