<ion-view can-swipe-back="false">
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <ion-header-bar align-title="left" class="bar-subheader bar-stable subheader">
        <div class="title"><strong>User Settings</strong></div>
    </ion-header-bar>
    <ion-content class="has-subheader content-hassubheader" overflow-scroll="true">
        <div class="list">
            <div class="item">{{account.fullName}}</div>
            <div class="item">{{account.userName}}</div>
            <div class="item item-party item-stacked-label">
                <span style="width: 70px;" class="input-label">Signature</span>
                <button class="button button-stable button-small" ng-click="changeSignaturePad()" style="padding-top: 0;padding-bottom: 0;border-color: #b2b2b2;">Changes</button>
                <button class="button button-stable button-small pull-right" ng-click="clearSignaturePad()" style="padding-top: 0;padding-bottom: 0;border-color: #b2b2b2;">Clear</button>
                <div style="clear: both;padding-top: 5px;"></div>
                <div id="user_signature" style="border: 1px solid black;min-height: 250px;" ng-show="changeSignature === true"></div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Back</button>
            <button class="button button-clear button-positive" ng-click="done()">Done</button>
        </div>
    </ion-footer-bar>
</ion-view>