﻿<ion-view can-swipe-back="false">
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <div class="buttons">
            <img src="img/icon-72-hdpi.png" class="header-logo" style="margin-top: 0;" />
        </div>
        <span class="title"><img src="img/logotext512.png" width="100" /></span>
    </ion-header-bar>
    <div class="bar bar-subheader" style="display: block;padding-top: 0;position: relative;">
        <div><b>Pre-Start Truck Check - {{fields.name}}</b></div>
        <div>{{jobName}}</div>
    </div>
    <ion-content style="top: 88px;">
        <div class="list">
            <div class="item item-toggle" ng-show="fields.inputType == 0">
                {{fields.name}}
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="fields.confirmed" ng-disabled="isReadonly">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item" ng-show="fields.inputType == 1">
                <div>
                    <span class="input-label" style="display: inline-block;">{{fields.name}}</span>
                    <input type="number" class="bordered" style="display: inline-block;width: 5em;float: right;" ng-model="fields.value" ng-disabled="isReadonly"/>
                </div>
                <div style="padding-top: 5px;">
                    <my-star-rating default-rating="fields.defaultRating" max-stars="5" rating-callback="starRatingCallback" index="fields.index" class="pull-right" is-disabled="isReadonly"></my-star-rating>
                </div>
            </div>
            <div class="item" ng-show="fields.inputType == 2" style="padding: 5px;">
                <div class="row" style="padding:0;">
                    <div class="col">
                        <span class="input-label" style="display: inline-block;">
                            {{getItemName(fields.name)}}
                        </span>
                    </div>
                    <div class="col">
                        <my-star-rating default-rating="fields.defaultRating" max-stars="5" rating-callback="starRatingCallback" index="fields.index" class="pull-right" is-disabled="isReadonly"></my-star-rating>
                    </div>
                </div>
            </div>
            <div class="item" ng-show="fields.inputType == 3">                
                {{fields.name == 'Oil' ? 'Engine Oil': fields.name}}
                <fluid-level ng-model="fields.value" class="pull-right" is-disabled="isReadonly"></fluid-level>
            </div>
            <div class="item item-button-right" style="padding-bottom: 5px;border-bottom: none;">
                Description
                <button class="button button-clear button-dark right-button" ng-click="startVoiceToText()" ng-if="!isReadonly">
                    <i class="ion-mic-a"></i>
                    <i class="ion-edit"></i>
                </button>
            </div>
            <div class="item item-input" style="padding-right: 16px;border-top: none;">
                <textarea rows="5" style="width: 100%;border: solid 1px #ddd;" ng-model="fields.description" ng-readonly="isReadonly"></textarea>
            </div>
            <div class="item item-button-right">
                Photos
                <button class="button button-clear button-dark right-button" ng-click="getPhoto()" ng-if="!isReadonly">
                    <i class="ion-camera"></i>
                </button>
            </div>
            <div class="item">
                <div ng-repeat="photo in fields.photos track by $index" class="photo-thumbnail">
                    <img ng-src="{{photo}}" style="width: 100%;display: block;padding-bottom: 5px;" />
                    <div style="text-align: center;">
                        <button type="button" ng-click="removePhoto($index)" class="button button-assertive button-small novpad button-smaller" ng-if="!isReadonly">Remove</button>
                    </div>
                </div>
            </div>
            <div class="item item-button-right">
                Voice Notes
                <button class="button button-clear button-dark right-button" ng-click="getAudio()" ng-if="!isReadonly">
                    <i class="ion-mic-a"></i>
                </button>
            </div>
            <div class="voice-notes" style="min-height: 50px;">
                <div class="item" ng-repeat="audio in fields.audioNotes">
                    {{audio.substr(audio.lastIndexOf('/')+1)}}
                    <div style="float: right;">
                        <button type="button" class="button button-clear button-45 {{ !(audioNotesPlaying == $index) ? 'button-balanced icon ion-play' : 'button-dark icon ion-stop'}}" ng-click="playAudio(audio)"></button>
                        <button type="button" class="button button-clear button-45 button-assertive icon ion-close-round" ng-click="removeAudio($index)" ng-if="!isReadonly"></button>
                    </div>
                </div>
            </div>            
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar">
            <button type="button" class="button icon-left ion-chevron-left button-clear button-positive" ng-click="back()">Save</button>            
        </div>
    </ion-footer-bar>
</ion-view>