﻿.star-rating .star-on {
    color: #fd0;
}
.star-rating .star {
    font-size: 24px;
    padding-left: 3px;
    padding-right: 3px;
}
.no-pad {
    padding: 0;
}
.pad-10 {
    padding: 10px;
}
.vpad-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.hpad-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.novpad {
    padding-top: 0;
    padding-bottom: 0;
}
.nohpad {
    padding-left: 0;
    padding-right: 0;
}
.hpad-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.fluid-level-item {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
}
.fluid-level-item:first-of-type {
    margin-right: 5px;
}
.fluid-level-item:last-of-type {
    margin-right: 0;
}
.fluid-level-item-selected {
    border-color: green;
    background-color: green;
    color: white;
}
.item-fluid-level {
    padding-bottom: 0;
}
.input.bottom-bordered{
    border-bottom: 1px solid gray;
}
.sublist .item {
    border-top: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    padding: 5px 0;
}
.sublist .row, .sublist .row .col {
    padding: 0;
}