﻿<ion-view can-swipe-back="false">
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <span class="title">Pre-Start Truck Check</span>
        <button type="button" class="button button-icon icon ion-navicon button-positive" ng-click="showOptions()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="margin-bottom: 0;">
            <div class="item item-icon-right" ng-click="chooseTruck($event)">
                Truck: <span ng-if="fields.truckId">{{(fields.truckNumber + '-' + fields.truckRego)}}</span>
                <i class="icon ion-edit"></i>
            </div>                      
        </div>
        <div class="list">
            <ion-item class="static-pos" style="overflow: visible;">
                Days since last audit
                <span class="item-note dark">{{fields.daysSinceLastAudit || 0}}</span>
            </ion-item>
            <ion-item class="item-input item-group-start static-pos" style="padding-right: 16px;">
                <div class="row no-pad">
                    <div class="col-50"><span class="input-label">Rego Exp</span></div>
                    <div class="col no-pad">
                        <div class="list">
                            <div class="item item-input input-icon">
                                <input type="date" class="text-right bordered" ng-model="fields.regoExpiry" ng-change="getDaysUntilExp(fields.regoExpiry, 'daysUntilRegoExp')" ng-disabled="true" ng-readonly="true" style="background-color: lightgray;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-group-end static-pos">
                Days until
                <span class="item-note" ng-class="{ 'black': fields.daysUntilRegoExp > 30, 'orange': fields.daysUntilRegoExp <= 30, 'red': fields.daysUntilRegoExp <= 7, 'purple': fields.daysUntilRegoExp < 0 }">{{fields.daysUntilRegoExp || 0}}</span>
            </ion-item>
            <ion-item class="item-input item-group-start static-pos" style="padding-right: 16px;">
                <div class="row no-pad">
                    <div class="col-50"><span class="input-label">COF Exp</span></div>
                    <div class="col no-pad">
                        <div class="list">
                            <div class="item item-input input-icon">
                                <input type="date" class="text-right bordered" ng-model="fields.cofExpiry" ng-change="getDaysUntilExp(fields.cofExpiry, 'daysUntilCOFExp')" ng-disabled="true" ng-readonly="true" style="background-color: lightgray;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-group-end">
                Days until
                <span class="item-note" ng-class="{ 'black': fields.daysUntilCOFExp > 30, 'orange': fields.daysUntilCOFExp <= 30, 'red': fields.daysUntilCOFExp <= 7, 'purple': fields.daysUntilCOFExp < 0 }">{{fields.daysUntilCOFExp || 0}}</span>
            </ion-item>
            <ion-item class="item-input item-custom1">
                <div class="row no-pad">
                    <div class="col-50">
                        <span class="input-label">ODO Reading</span>
                    </div>
                    <div class="col no-pad">
                        <input type="number" placeholder="0" class="text-right bordered" ng-model="fields.currentOdometerReading" ng-change="getKmsUntilServiceDue()" style="padding-right: 12px;" ng-disabled="isReadonly"/>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-input item-custom1">
                <div class="row no-pad">
                    <div class="col-50"><span class="input-label">Service Due</span></div>
                    <div class="col no-pad"><input type="number" placeholder="0" class="text-right bordered" ng-model="fields.nextServiceDue" ng-change="getKmsUntilServiceDue()" style="padding-right: 12px;background-color: lightgray;" ng-disabled="true" ng-readonly="true"/></div>
                </div>
            </ion-item>
            <ion-item class="item-input item-custom1">
                <div class="row no-pad">
                    <div class="col-50"><span class="input-label">RUC Expiry</span></div>
                    <div class="col no-pad"><input type="number" placeholder="0" class="text-right bordered" style="padding-right: 10px;background-color: lightgray;" ng-model="fields.rucMaxReading" ng-change="getRucsRemaining()" ng-disabled="true" ng-readonly="true"/></div>
                </div>
            </ion-item>
            <ion-item class="item-input item-custom1">
                <div class="row no-pad">
                    <div class="col-50"><span class="input-label">HUBO</span></div>
                    <div class="col no-pad"><input type="number" placeholder="0" class="text-right bordered" style="padding-right: 10px;" ng-model="fields.currentHuboReading" ng-change="getRucsRemaining()" ng-disabled="isReadonly"/></div>
                </div>
            </ion-item>
            <ion-item>
                RUC's Remaining
                <span class="item-note dark">{{fields.rucsRemaining || 0}}</span>
            </ion-item>
            <ion-item>
                KMs Until Service Due
                <span class="item-note dark">{{fields.kmsUntilServiceDue || 0}}</span>
            </ion-item>
            <ion-item ng-repeat="inspection in fields.inspections | limitTo: 6" class="hpad-10 hpad-5">
                <input type="number" placeholder="0" class="bordered left-textbox" ng-model="inspection.value" style="width: 34px;height: 2em;" ng-hide="inspection.inputType == 2" ng-disabled="isReadonly"/>
                <span style="display: inline-block;line-height: 2em;" ng-click="inspectionDetails(inspection, $index)"> <span style="text-decoration: underline;">{{inspection.name}}</span> <i class="icon ion-chevron-right"></i></span>
                <div style="display: inline-block;float: right;">
                    <my-star-rating default-rating="inspection.defaultRating" max-stars="5" index="inspection.index" rating-callback="starRatingCallback" class="pull-right" is-disabled="isReadonly"></my-star-rating>
                </div>
            </ion-item>
            <ion-item>
                <span style="line-height: 2em;">
                    Flashing Beacons
                </span>
                <div style="display: inline-block;float:right;">
                    <input type="number" class="bordered" style="display: inline-block; width: 3em;" placeholder="0" ng-model="fields.flashingBeaconsCount" ng-disabled="isReadonly" />
                    &nbsp; of &nbsp;
                    <input type="number" class="bordered" style="display: inline-block; width: 3em;" placeholder="0" ng-model="fields.flashingBeaconsTotal" ng-disabled="isReadonly" />
                </div>
            </ion-item>
            <ion-item class="item-input item-select">
                <div class="input-label">
                    Arrow Board 100%
                </div>
                <select ng-model="fields.arrowBoard" ng-disabled="isReadonly">
                    <option value="">-Choose-</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </ion-item>
            <ion-item class="item vpad-10" ng-click="inspectionDetails(fields.inspections[12], 12)">
                <div class="row no-pad">
                    <div class="col no-pad">
                        <span class="input-label" style="width: 100%;display: inline-block;text-decoration: underline;">
                            New Damage?&nbsp;<i class="icon ion-chevron-right"></i>
                        </span>
                    </div>
                    <div class="col no-pad" style="text-align: right; line-height: 2em;">
                        {{fields.inspections[12].confirmed ? 'Yes' : 'No'}}
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-20">
                        <i class="icon ion-camera" style="opacity: 0.5;padding-right: 3px;float: left;"></i>
                        <span ng-click="oilLevelDetails()" style="text-decoration: underline;float: left;">Engine<br/>Oil</span> <i class="icon ion-chevron-right"></i>
                    </div>
                    <div class="col">
                        <fluid-level ng-model="fields.oilLevel" class="pull-right" is-disabled="isReadonly" ></fluid-level>                            
                    </div>
                </div>
                <div class="row row-no-padding" style="padding-top: 15px;">
                    <div class="col-20"><span style="display:inline-block; line-height: 2.5em">Top-up?</span></div>
                    <div class="col">
                        <span class="pull-right">
                            <input type="number" placeholder="0" class="bordered" style="display: inline-block;width: 5em;" ng-model="fields.oilLevelTopUp" ng-disabled="isReadonly" /> Liters
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-20">
                        <i class="icon ion-camera" style="opacity: 0.5;padding-right: 3px;"></i>
                        <span ng-click="waterLevelDetails()" style="text-decoration: underline;">Water</span> <i class="icon ion-chevron-right"></i>
                    </div>
                    <div class="col">
                        <fluid-level ng-model="fields.waterLevel" class="pull-right" is-disabled="isReadonly" ></fluid-level>                            
                    </div>
                </div>
                <div class="row row-no-padding" style="padding-top: 15px;">
                    <div class="col-20"><span style="display:inline-block; line-height: 2.5em">Top-up?</span></div>
                    <div class="col">
                        <span class="pull-right">
                            <input type="number" placeholder="0" class="bordered" style="display: inline-block;width: 5em;" ng-model="fields.waterLevelTopUp" ng-disabled="isReadonly" /> Liters
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-20">
                            <i class="icon ion-camera" style="opacity: 0.5;padding-right: 3px;"></i>
                        <span ng-click="dieselLevelDetails()" style="text-decoration: underline;">Diesel</span> <i class="icon ion-chevron-right"></i>
                    </div>
                    <div class="col">
                        <fluid-level ng-model="fields.dieselLevel" class="pull-right" is-disabled="isReadonly" ></fluid-level>
                    </div>
                </div>
                <div class="row row-no-padding" style="padding-top: 15px;">
                    <div class="col-20"><span style="display:inline-block; line-height: 2.5em">Top-up?</span></div>
                    <div class="col">
                        <span class="pull-right">
                            <input type="number" placeholder="0" class="bordered" style="display: inline-block;width: 5em;" ng-model="fields.dieselLevelTopUp" ng-disabled="isReadonly" /> Liters
                        </span>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                Tyres
                <ion-list class="sublist">
                    <ion-item ng-repeat="inspection in fields.inspections | limitTo: 6:6">
                        <div class="row">
                            <div class="col"><span ng-click="inspectionDetails(inspection, ($index + 6))" class="input-label"><span style="text-decoration: underline;">{{inspection.name.substr(7)}}</span> &nbsp;<i class="icon ion-chevron-right"></i></span></div>
                            <div class="col-60">
                                <my-star-rating default-rating="inspection.defaultRating" max-stars="5" index="inspection.index" rating-callback="starRatingCallback" class="pull-right" is-disabled="isReadonly" ></my-star-rating>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item>
                Lights
                <ion-list class="sublist">
                    <ion-item class="item-input item-select" ng-repeat="light in fields.lights" style="padding: 12px 0;">
                        {{light.name.substr(7)}}?
                        <select ng-model="light.value" ng-disabled="isReadonly">
                            <option value="">---</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </ion-item>                        
                </ion-list>
            </ion-item>                
        </div>
        <!-- </div> -->
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar" ng-show="fields.id">
            <button class="button" ng-click="closeAudit()">Close</button>
        </div>
        <div class="button-bar" ng-show="!fields.id">
            <button type="button" class="button button-large icon-left ion-chevron-left button-clear button-positive" ng-click="done()" ng-disabled="!fields.truckId">Save</button>
            <button type="button" class="button button-clear button-positive" ng-click="cancel()">Cancel</button>
            <!--
            <button class="button" ng-click="cancel()">Cancel</button>
            <button class="button button-balanced" ng-click="done()" ng-disabled="!fields.truckId">Done</button>
            -->
        </div>
    </ion-footer-bar>
</ion-view>