﻿/* Empty. Add your own CSS if you like */
/*.item-select select {
position: relative !important;
}
.item-select:after {
top: 60% !important;

}*/
.outline{
    border: 1px solid gray;
}
.full-width{
    width: 100%;
    max-width: 100%;
}
.staff-status{
    float: right; font-size: 30px;font-weight: bold;
}
.button .icon.icon-30:before{
    font-size: 50px;
}
.button.icon.icon-opt2:before{
    font-size: 26px;
    line-height: 20px;
}
.item.item-opt1{
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
}
.item-opt1.item-button-left{
    padding-left: 50px;
}
.item.item-opt1 .button{       
    height: 100%;
    width: 45px;
    left: 0;
    top: 0;
    padding-left: 0;
    padding-right: 0;
}
.item-opt1 .button-icon .icon{
    left: 10px;
}
.item.item-opt1 .item-content{
    overflow: visible;
    white-space: normal;
    text-overflow: initial;
}
.dummy{
    display: block;
    padding: 16px;
    text-decoration: none;
    color: #444;
}
.dummy-item{    
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  margin: -1px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  border-left: none;
  border-right: none;
  padding: 0;
}
.dummy.activated{
    border-color: #ccc;
    background-color: #D9D9D9;
}
select.ng-invalid-required{
    border: 1px solid red;
}
input.ng-invalid-required{
    border: 1px solid red;
}
.pull-right{
    float: right;
}
.wrap-ellipse{
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.subheader{
    height: 30px;
}
.bar.subheader .title{
    font-size: 14px;
    line-height: 30px;
}
.content-hassubheader{
    top: 74px;
}
.no-hr-pad{
    padding-left:0;
    padding-right: 0;
}
.no-vr-pad{
    padding-top: 0;
    padding-bottom: 0;
}
.no-pad, .list .item.no-pad, .list .item button.button.no-pad{
    padding: 0;
}
.no-vr-margin, .list .item button.button.no-vr-margin{
    margin-top: 0;
    margin-bottom: 0;
}
img.img-responsive{
    width: 100%;
}
.no-border, .list.no-border, .list .item.no-border{
    border: none;
}
.no-margin, .button.no-margin, .button.button-block.no-margin{
    margin: 0;
}
/*team page*/
.team-member-list-item .tm-list-item-controls{
    border-left: solid 1px black;
    border-top: solid 1px black;
    border-right: solid 1px black;
}
.tm-list-item-summary{
    border: solid 1px black;
}
.tm-list-item-summary .staff-name{
    overflow: hidden;
    white-space: nowrap;
}

/*transitions*/
.fade.ng-enter, 
.fade.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
}  
.fade.ng-leave.ng-leave-active,
.fade.ng-enter {
    opacity: 0;
    
}
.fade.ng-enter.ng-enter-active, 
.fade.ng-leave {
    opacity: 1;    
    /*height: 30px;*/
}
.hide-section{
    display: none;
    visibility: hidden;
}
.item-divider.item-button-right .button.divider-button:before{
    line-height: 16px;    
}
.item-divider.item-button-right .button.divider-button{
    top: 0;
    right: 4px;
}
/*
.has-subheader{
    top: 72px;
}
*/
.runtime{
    font-weight: bold;
    font-size: 40px;
}
.item-sitecheck{
    font-size: 16px;
    min-height: 60px;
}
.grid-border .row + .row{
    padding-top: 5px;
}
.grid-border .row.item-sitecheck{
    border-bottom: 1px solid #ddd;
}
.grid-border .row.item-sitecheck .col:first-child{
    border-right: 1px solid #ddd;
}
.grid-border .row.item-sitecheck .col:last-child{
    border-left: 1px solid #ddd;
}
.grid-border .row.item-sitecheck .col .item-content{
    white-space: normal;
}
.text-center{
    text-align: center;
}
.full-width{
    width: 100%
}
.item.wrap-item{
    white-space: normal;
}
.item-party{
    padding-top: 5px;
    padding-bottom: 5px;
}
.item-party select{
    font-size: 16px;
    height: 36px;
}
.item-party input{
    border-bottom: solid gray 1px;
}
.sitepro-titlebar{
    background-color: #AFC22F;
}
.header-logo {
    float: left;
    width: 32px;
    margin-right: -32px;
    margin-top: 5px;
}
.list .activity-item{
    font-size: 15px;
}
.blink.ng-enter{
    animation-name: blinkkf;
    animation-duration: 2s;
}
@keyframes blinkkf{
    0%{
        background-color: #AFC22F;
        color: white;
    }
    20%{
        background-color: white;
        color: black;
    }
    40%{
        background-color: #AFC22F;
        color: white;
    }
    60%{
        background-color: white;
        color: black;
    }
    80%{
        background-color: #AFC22F;
        color: white;
    }
    100%{
        background-color: white;
        color: black;
    }
}
.pointer{
    cursor: pointer;
}
cross-check-toggle{
    font-size: 30px;
}
cross-check-toggle span{
    padding: 0 5px;
}
.wrap-item{
    white-space: normal;
}
.activity-locked{
    cursor: not-allowed;
    opacity: 0.6;
}
.button-inline-right{
    float: right;
    margin-right: 10px;
    line-height: 1em;
    min-height: 1.5em;
    padding: 0 5px;
    font-size: 20px;
}
.button-divider-inline-right{
    float: right;
    margin-right: 0;
    line-height: 1.4em;
    min-height: 1em;    
    min-width: 50px;
    padding: 0 5px;
    font-size: 24px;
}
.item-divider-button-right{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.2em;
}
.button-45{
    min-width: 45px;
    padding-left: 0;
    padding-right: 0;
}
.voice-notes .item {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 47px;
}
.trucks-option {
  width: 100%;
  padding: 5px 5px;
  height: 3em;
}
.subheader .subtitle {
  height: 30px;
  top: 30px;
  position: absolute;
  width: 100%;
  padding-left: 5px;
}
.subheader.wide-subheader {
  height: 60px;
}
.wide-subheader .title {
  height: 30px;
  width: 100%;
}
.has-wide-subheader {
  top: 104px;
}
.ttsAndroid .popup-buttons{
    display: none;
}
.platform-android .popover .item {
    border-color: darkgray;
}
.static-pos {
    position: static;
}
angucomplete-alt .angucomplete-holder input {
    width: 100%;
}
.photo-thumbnail {
    width: 33%;
    text-align: center;
    float: left;
    padding: 5px;
}
.photo-thumbnail img{
    display: block;
    text-align: center;
}
.item-group-start {
    border-bottom: 0;
}
.item-group-end {
    border-top: 0;
}
.item.input-icon {
    padding: 0;
}
.item.input-icon input {
    border: none;
    padding: 0;
    line-height: 2.3em;
}
.item.input-icon .icon-right {
    padding: 0;
    padding-right: 10px;
}
.item.condensed-checkbox .item-checkbox{
    padding-left: 28px;
}
.item.condensed-checkbox .item-checkbox .checkbox{
    padding-left: 0;
    padding-right: 0;
}

div.action-sheet{
    padding-left: 10px;
    padding-right: 10px;
}
div.action-sheet div.action-sheet-group {
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
}
/*div.action-sheet div.action-sheet-group.action-sheet-options{
    height: 200px;
    overflow: auto;
}*/
div.action-sheet .button.action-sheet-option,
div.action-sheet div.action-sheet-group .button{
    color: blue;
    border-bottom: solid 1px #d1d3d6;
    text-align: center;
}
div.action-sheet div.action-sheet-group .button.action-sheet-destructive {
    color: red;
}
.platform-android .action-sheet .action-sheet-title{
    text-align: center;
    border-bottom: solid 1px #d1d3d6;
}
.platform-android .action-sheet-cancel {
    display: block !important;
}
/*
div.job-item-actionsheet div.action-sheet{
    padding-left: 10px;
    padding-right: 10px;
}
div.job-item-actionsheet div.action-sheet div.action-sheet-group {
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
}
div.job-item-actionsheet div.action-sheet .button.action-sheet-option,
div.job-item-actionsheet div.action-sheet div.action-sheet-group .button{
    color: blue;
    border-bottom: solid 1px #d1d3d6;
    text-align: center;
}
div.job-item-actionsheet div.action-sheet div.action-sheet-group .button.action-sheet-destructive {
    color: red;
}
.platform-android .action-sheet-cancel {
    display: block !important;
}
*/

.compact-ion-checkbox.item-checkbox{
    padding-left: 50px;
}

.button.start-color{
    color: #33cd5f;
}
.button.stop-color{
    color: #ef473a;
}
.button.breaktime-color{
    color: #ef473a;
}

/*onsite record item*/
button.button.onsiterecorditem-checked{
    color: #33cd5f;
}
button.button.onsiterecorditem-checkedwithissues{
    color: #ef473a;
}
button.button.onsiterecorditem-notapplicable{
    color: blue;
}
/*end*/

select.bordered, input.bordered, textarea.bordered{
    border: 1px solid #ddd;
}
.bordered{
    border: 1px solid #ddd;
}
.activity-done-repeat, .button.activity-done-repeat{
    background-color: #10E2F0;
}
.activity-done, .button.activity-done{
    background-color: #8BFF8B;
}

span.input-label.input-label-full-wrap{
    max-width: inherit;
    width: inherit;
}
input[type="checkbox"].item-checkbox-full-wrap-fix{
    width: 28px;
    padding: 0;
}
.item-group-start{
    border-bottom: none;
}
.item-group-body{
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
}
.item-item-group-end{
    border-top: none;
    padding-top: 0;
    padding-bottom: 6px;
}
.item-group-body .list .item{
    border-left: none;
    border-right: none;
}
.item.pad-h10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.popup-container.advisory-prompt .popup .popup-body{
    padding: 0;
}
/*<== triStateToggle*/
.tri-state-toggle.button-icon.icon::before{
    font-size: 34px;
}
.tri-state-toggle.button-icon.icon.green-icon:before{
    color: green;
}
.tri-state-toggle.button-icon.icon.red-icon:before{
    color: red;    
}
.tri-state-toggle.button-icon.icon.blue-icon:before{
    color: blue;    
}
/*==>*/

.item.item-divider .button.button-small{
    top: 0;
}
.item.item-divider .button.button-small.button-icon.icon::before{
    font-size: 28px;
}
.item.item-divider .buttons{
    top: 0;
}
.button.button-small.button-icon.icon.balanced:before{
    color: #33cd5f;
}
.button.button-small.button-icon.icon.assertive:before{
    color: #ef473a;
}
.item button.button{
    margin: 0;
    text-align: left;
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.bottom-border-a{
    border-bottom: solid 1px #ddd;
}
.button-smaller .icon:before, .button-smaller.icon:before, .button-smaller.icon-left:before, .button-smaller.icon-right:before {
    font-size: 16px;
    line-height: 19px;
    margin-top: 3px;
}
.alertNewVersion{
    border: solid 2px #387ef5;
}
.search-mt{
    margin-right: 28px;
}