﻿<ion-view can-swipe-back="false">
    <ion-header-bar align-title="center" class="sitepro-titlebar">
        <span class="title">Truck Pre-Check Record</span>
        <button type="button" class="button button-icon icon ion-navicon button-positive" ng-click="showOptions()"></button>
    </ion-header-bar>
    <ion-content>
        <div class="list" style="margin-bottom: 0;">
            <div class="item item-icon-right" ng-show="fields.id">
                Truck: <span ng-if="fields.truckId">{{(fields.truckNumber + '-' + fields.truckRego)}}</span>               
            </div>
            <div class="item item-icon-right" ng-click="chooseTruck($event)" ng-hide="fields.id">
                Truck: <span ng-if="fields.truckId">{{(fields.truckNumber + '-' + fields.truckRego)}}</span>
                <i class="icon ion-edit"></i>
            </div>
        </div>               
        <div class="list" ng-if="fields.truckId">
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Camera check</span>
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isCamera" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Reverse Camera check</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isReverseCamera" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-input item-group-start static-pos" style="padding-right: 16px;">
                <div class="row no-pad">
                    <div class="col-50"><span class="input-label">Hub expiry</span></div>
                    <div class="col no-pad">
                        <div class="list">
                            <div class="col no-pad">
                                <input type="datetime-local" placeholder="Expected Start Date" ng-model="fields.hubExpiry" ng-change="getDaysUntilExp(fields.hubExpiry, 'daysUntilCOFExp')" name="expectedStartDate" ng-disabled="isReadonly" />
                                <!--<input type="number" placeholder="0" class="text-right bordered" ng-model="fields.hubExpiry" ng-change="getKmsUntilServiceDue()" style="padding-right: 12px;" ng-disabled="isReadonly" />-->
                                <!--<input type="date" class="text-right bordered" ng-model="fields.hubExpiry" ng-change="getDaysUntilExp(fields.hubExpiry, 'daysUntilCOFExp')" ng-disabled="true" style="background-color: lightgray;" />-->
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-input item-group-start static-pos" style="padding-right: 16px;">
                <div class="row no-pad">
                    <div class="col-50"><span class="input-label">Hub reading</span></div>
                    <div class="col no-pad">
                        <div class="list">
                            <div class="col no-pad">
                                <input type="number" placeholder="0" class="text-right bordered" ng-model="fields.huboReading" style="padding-right: 12px;" ng-disabled="true" ng-readonly="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-input item-group-start static-pos" style="padding-right: 16px;">
                <div class="row no-pad">
                    <div class="col-50"><span class="input-label">COF date</span></div>
                    <div class="col no-pad">
                        <div class="list">
                            <div class="item item-input input-icon">
                                <input type="date" class="text-right bordered" ng-model="fields.cofExpiry" ng-change="getDaysUntilExp(fields.cofExpiry, 'daysUntilCOFExp')" ng-disabled="true" ng-readonly="true" style="background-color: lightgray;" />
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-input item-group-start static-pos" style="padding-right: 16px;">
                <div class="row no-pad">
                    <div class="col-50"><span class="input-label">Rego data</span></div>
                    <div class="col no-pad">
                        <div class="list">
                            <div class="item item-input input-icon">
                                <input type="date" class="text-right bordered" ng-model="fields.regoExpiry" ng-change="getDaysUntilExp(fields.regoExpiry, 'daysUntilRegoExp')" ng-disabled="true" ng-readonly="true" style="background-color: lightgray;" />
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Alarms and gauges</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isAlarms" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">2 x Worker Assist Devices</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isAssistDevices" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Engine oil and water</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isEngineoilwater" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Tyres (including inside rear)</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isTyres" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Truck fire extinguisher - present</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isFireExtinguisher" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">First aid kit - present</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isFirstAidKit" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Yard broom - present</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isYardbroom" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Pail of soapy water & brush</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isPailofsoapywater_brush" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Amber & arrow board working</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isAmber" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">All lights / indicators working</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isAlllights" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Truck mirrors, panels and windscreens ok</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isTruckMirrors" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Check wheel nut indicators</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isWheel" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Water cooler full</span> 
                    </div>
                    <div class="col">
                        <input class="item-note" type="checkbox" ng-model="fields.isWaterCoolerFull" ng-disabled="isReadonly">
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row row-no-padding">
                    <div class="col-50">
                        <span style="float: left;">Notes</span> 
                    </div>
                </div>
                <div class="item item-input item-stacked-label" >
                    <textarea ng-model="fields.isNotes" class="" rows="4" ng-disabled="isReadonly"></textarea>
                </div>
            </ion-item>
        </div>
        <!-- </div> -->
    </ion-content>
    <ion-footer-bar>
        <div class="button-bar" ng-show="fields.id">
            <button class="button" ng-click="closeAudit()">Close</button>
        </div>
        <div class="button-bar" ng-show="!fields.id">
            <button type="button" class="button button-large icon-left ion-chevron-left button-clear button-positive" ng-click="done()" ng-disabled="!fields.truckId">Save</button>
            <button type="button" class="button button-clear button-positive" ng-click="cancel()">Cancel</button>
            <!--
            <button class="button" ng-click="cancel()">Cancel</button>
            <button class="button button-balanced" ng-click="done()" ng-disabled="!fields.truckId">Done</button>
            -->
        </div>
    </ion-footer-bar>
</ion-view>