<html>
<head>
    <style>
        /*css*/
        @font-face {
            font-family: impact;
            src: url(font/impact.ttf);
        }

        body {
            font-family: sans-serif !important;
        }

        .header-bacg {
            background-color: #001d51
        }

        .truck-table tr {
            height: 30px;
        }

        .truck-table td {
            border: 1px solid black;
            border-collapse: collapse;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 12px;
            vertical-align: middle !important;
            width: 50%;
        }

        .truck-table {
            display: table;
        }
    
            .truck-table tbody {
                display: table;
            }

        .log-size {
            width: 125px;
        }

        .logo-header {
            font-family: impact;
            font-size: 20px;
            padding-top: 8px;
            text-align: right;
        }

        .subheader-bacg {
            background-color: #fff600;
        }

        .border-none-td {
            border: 0 !important;
        }

        .text-center {
            text-align: center;
        }

        .width-100 {
            width: 100%;
        }

        .padding-0 {
            padding: 0 !important;
        }

        .truck-table-padding {
            padding: 5px 0px;
        }

        .border-left-0 {
            border-left: 0 !important;
        }

        .border-right-0 {
            border-right: 0 !important;
        }

        .border-bottom-0 {
            border-bottom: 0 !important;
        }

        .color-feff7d {
            background-color: #feff7d;
        }

        .bold-head-txt {
            font-weight: 700;
        }

        *,
        ::after,
        ::before {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }

        .container {
            max-width: 1140px;
            margin: 0 auto;
        }

        .table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        table {
            border-collapse: collapse;
        }

        .header-txt-white {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
        }

        td.ppe-td1 {
            width: 40%;
        }

        td.ppe-td2 {
            width: 8%;
        }

        td.ppe-td3 {
            width: 40%;
        }

        td.ppe-td4 {
            width: 8%;
        }

        .border-top-0 {
            border-top: 0px !important;
        }

        .padding-header {
            padding: 10px 0px;
        }

        .back-color-feff7d {
            background-color: #feff7d;
        }
    </style>
</head>
<body>
    <div class="container" style="page-break-after: always;">
        <div class="truck-table-padding">
            <table class="table-responsive truck-table">
                <tbody class="table-responsive">
                    <tr>
                        <td class="border-none-td">
                            <div class="padding-header">
                                <img src="file:///android_asset/www/pdftemplates/logo.png" class="log-size" />
                            </div>
                        </td>
                        <td class="border-none-td">
                            <div class="logo-header padding-header"><b>GEAR LEFT ON SITE RECORD</b></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="header-bacg border-bottom-0">
                                            <div class="header-txt-white"> Site Details </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="border-bottom-0">
                                            Road Name / Location: {{RoadName}}
                                        </td>
                                        <td class="border-bottom-0">
                                            Client Contract: {{ClientContract}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="border-bottom-0">
                                            TMP No: {{TMPNO}}
                                        </td>
                                        <td class="border-bottom-0">
                                            Date:{{createdOn}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="subheader-bacg border-bottom-0">
                                            <div class="bold-head-txt"> Level 1 </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="row-hgt-auto">
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="ppe-td1 back-color-feff7d">
                                            <div class="bold-head-txt">Description</div>
                                        </td>
                                        <td class="ppe-td2 back-color-feff7d bold-head-txt">
                                            <div class="text-center bold-head-txt">Qty</div>
                                        </td>
                                        <td class="ppe-td3 back-color-feff7d">
                                            <div class="bold-head-txt">Description</div>
                                        </td>
                                        <td class="ppe-td4 back-color-feff7d">
                                            <div class="text-center bold-head-txt">Qty</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level1lefttext_row1}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level1leftqty_row1}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level1righttext_row1}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level1rightqty_row1}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level1lefttext_row2}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level1leftqty_row2}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level1righttext_row2}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level1rightqty_row2}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level1lefttext_row3}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level1leftqty_row3}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level1righttext_row3}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level1rightqty_row3}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level1lefttext_row4}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level1leftqty_row4}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level1righttext_row4}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level1rightqty_row4}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level1lefttext_row5}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level1leftqty_row5}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level1righttext_row5}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level1rightqty_row5}}</div>
                                        </td>
                                    </tr>  
                                   {{Level1MoreRow}}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="subheader-bacg border-bottom-0 border-top-0">
                                            <div class="bold-head-txt"> Level 2 </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="row-hgt-auto">
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="ppe-td1 back-color-feff7d">
                                            <div class="bold-head-txt">Description</div>
                                        </td>
                                        <td class="ppe-td2 back-color-feff7d bold-head-txt">
                                            <div class="text-center bold-head-txt">Qty</div>
                                        </td>
                                        <td class="ppe-td3 back-color-feff7d">
                                            <div class="bold-head-txt">Description</div>
                                        </td>
                                        <td class="ppe-td4 back-color-feff7d">
                                            <div class="text-center bold-head-txt">Qty</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level2lefttext_row1}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level2leftqty_row1}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level2righttext_row1}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level2rightqty_row1}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level2lefttext_row2}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level2leftqty_row2}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level2righttext_row2}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level2rightqty_row2}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level2lefttext_row3}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level2leftqty_row3}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level2righttext_row3}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level2rightqty_row3}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level2lefttext_row4}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level2leftqty_row4}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level2righttext_row4}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level2rightqty_row4}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Level2lefttext_row5}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Level2leftqty_row5}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Level2righttext_row5}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Level2rightqty_row5}}</div>
                                        </td>
                                    </tr>
                                    {{Level2MoreRow}}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="subheader-bacg border-bottom-0 border-top-0">
                                            <div class="bold-head-txt"> Accessories </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr class="row-hgt-auto">
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="ppe-td1 back-color-feff7d">
                                            <div class="bold-head-txt">Description</div>
                                        </td>
                                        <td class="ppe-td2 back-color-feff7d bold-head-txt">
                                            <div class="text-center bold-head-txt">Qty</div>
                                        </td>
                                        <td class="ppe-td3 back-color-feff7d">
                                            <div class="bold-head-txt">Description</div>
                                        </td>
                                        <td class="ppe-td4 back-color-feff7d">
                                            <div class="text-center bold-head-txt">Qty</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Accessorieslefttext_row1}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Accessoriesleftqty_row1}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Accessoriesrighttext_row1}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Accessoriesrightqty_row1}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Accessorieslefttext_row2}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Accessoriesleftqty_row2}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Accessoriesrighttext_row2}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Accessoriesrightqty_row2}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Accessorieslefttext_row3}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Accessoriesleftqty_row3}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Accessoriesrighttext_row3}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Accessoriesrightqty_row3}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Accessorieslefttext_row4}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Accessoriesleftqty_row4}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Accessoriesrighttext_row4}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Accessoriesrightqty_row4}}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ppe-td1">
                                            <div>{{Accessorieslefttext_row5}}</div>
                                        </td>
                                        <td class="ppe-td2">
                                            <div class="text-center">{{Accessoriesleftqty_row5}}</div>
                                        </td>
                                        <td class="ppe-td3">
                                            <div>{{Accessoriesrighttext_row5}}</div>
                                        </td>
                                        <td class="ppe-td4">
                                            <div class="text-center">{{Accessoriesrightqty_row5}}</div>
                                        </td>
                                    </tr>
                                    {{AccessoriesMoreRow}}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="padding-0 border-none-td">
                            <table class="width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <td class="border-top-0 bold-head-txt">
                                            STMS Name: {{STMSName}}
                                        </td>
                                        <td class="border-top-0 bold-head-txt">
                                            STMS Signature:<img src="{{signiture}}" style="width: 120px; max-height: 40px;" />
                                        </td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border-none-td">
                            <div class="text-center">
                                <div class="table-one-footer">FORM - Gear Left On Site Record | Version 1</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
</body>
</html>