<tr class="header3">
    <td colspan="4">Street/road name (RPs or street numbers):</td>
    <td colspan="2">TSL action</td>
    <td>Date:</td>
    <td>Time:</td>
    <td>PSL/TSL Speed</td>
    <td>Length of TSL(m):</td>
</tr>
<tr>
    <td rowspan="3" colspan="2" style="border-top: none;border-right: none;vertical-align: top;text-align: left;">From: {{fromLocation}} <br/>{{rpFrom}}</td>
    <td rowspan="3" colspan="2" style="border-top: none;border-left: none;vertical-align: top;text-align: left;">To: {{toLocation}} <br/>{{rpTo}}</td>
    <td colspan="2">TSL installed</td>
    <td style="text-align: right;">{{installDate}}</td>
    <td style="text-align: right;">{{installTime}}</td>
    <td rowspan="3" style="text-align: center;">{{tslSpeed}}</td>
    <td rowspan="3" style="text-align: center;">{{tslLength}}</td>
</tr>
<tr>
    <td colspan="2">TSL remains in place</td>
    <td style="text-align: right;">{{remainsInPlace}}</td>
    <td class="gray-cell"></td>
</tr>
<tr>
    <td colspan="2">TSL removed</td>
    <td style="text-align: right;">{{removalDate}}</td>
    <td style="text-align: right;">{{removalTime}}</td>
</tr>
<!--
<div style="margin-top: 5px;"><!-- Temporary speed limit --
    <table class="bordered condensed">
        <colgroup>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
            <col width="10%"/>
        </colgroup>
        <tr>
            <td colspan="10" class="header1"><b>Temporary speed limit</b></td>                        
        </tr>
        <tr class="header3">
            <td colspan="4">Street/road name (RPs or street numbers):</td>
            <td colspan="2">TSL action</td>
            <td>Date:</td>
            <td>Time:</td>
            <td>TSL speed:</td>
            <td>Length of TSL(m):</td>
        </tr>
        <tr>
            <td rowspan="3" colspan="2" style="border-top: none;border-right: none;vertical-align: top;text-align: left;">From: {{fromLocation} xxx xxxxx xx x xxxx xxxxx x x x x xxxx x xxxxx xx</td>
            <td rowspan="3" colspan="2" style="border-top: none;border-left: none;vertical-align: top;text-align: left;">To: {{toLocation} xxx xxxxx xx x xxxx xxxxx x x x x xxxx x xxxxx xx</td>
            <td colspan="2">TSL installed</td>
            <td style="text-align: right;">{{installDate}</td>
            <td style="text-align: right;">{{installTime}</td>
            <td rowspan="3" style="text-align: center;">{{tslSpeed}</td>
            <td rowspan="3" style="text-align: center;">{{tslLength}</td>
        </tr>
        <tr>
            <td colspan="2">TSL remains in place</td>
            <td style="text-align: right;">{{remainsInPlace}</td>
            <td class="gray-cell"></td>                        
        </tr>
        <tr>
            <td colspan="2">TSL removed</td>
            <td style="text-align: right;">{{removalDate}</td>
            <td style="text-align: right;">{{removalTime}</td>
        </tr>
    </table>
</div>
-->