<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        @media print {
            @page {
                margin: 3mm 10mm;
                margin-bottom: 0;
            }
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            padding: 0;
            margin: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-family: 'Arial Narrow';
            font-size: 10px;
        }

        tr.no-height td {
            visibility: hidden;
            display: none;
            height: 1px;
        }

        table.bordered {
            border-collapse: collapse;
        }

            table.bordered tr td {
                border: 1px solid black;
                height: 3em;
                padding-left: .5em;
                padding-right: .5em;
                max-width: 0;
                overflow: hidden;
            }

            table.bordered.condensed tr td {
                border: 1px solid black;
                height: 1.8em;
                max-width: 0;
                overflow: hidden;
            }

                table.bordered.condensed tr td.dbl-height {
                    height: 4.2em;
                    /*height: 3.3em;*/
                }

        tr.header1 td, .header1 {
            background-color: rgb(89, 89, 89);
            font-weight: bold;
            color: white;
        }

        tr.header2 td, .header2 {
            background-color: rgb(178, 178, 178);
            font-weight: bold;
            text-align: center;
        }

        tr td.item-name, .header3 {
            background-color: rgb(234, 234, 234);
            font-weight: bold;
        }

        table tr.header3i td {
            font-style: italic;
        }

        table.bordered tr td.header4 {
            background-color: rgb(178, 178, 178);
            text-align: left;
            font-weight: bold;
        }

        table.bordered tr.next-sibling td {
            border-top: none;
        }

        .gray-cell {
            background-color: rgb(128,128,128);
        }

        div.header img {
            width: 20%;
        }

        div.header table {
            width: 75%;
        }

        table.report-container {
            page-break-after: always;
            width: 100%;
        }

        .report-container .main {
            height: 272mm;
        }

        .report-container .header-info {
            height: 10mm;
            opacity: 65%;
        }

        .report-container .footer-container {
            height: 5mm;
            position: relative;
        }

            .report-container .footer-container div.bottom {
                position: absolute;
                bottom: 0;
                width: 100%;
                opacity: 75%;
                border-top: solid 1px black;
            }

        thead.report-header {
            display: table-header-group;
        }

        tfoot.report-footer {
            display: table-footer-group;
        }
    </style>
</head>
<body>
    <table class="report-container" style="width:100% !important;">
        <thead class="report-header">
            <tr>
                <th class="report-header-cell">
                    <div class="header-info">
                        <div class="header">
                            <img src="file:///android_asset/www/pdftemplates/wakakotahinztalogo.png" class="nzta-logo" style="float: left;" />
                            <table class="bordered" style="float: right;">
                                <colgroup>
                                    <col width="30%" />
                                    <col />
                                </colgroup>
                                <tr>
                                    <td class="header2">TMP or generic plan reference</td>
                                    <td>{{tmpReference}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="report-content">
            <tr>
                <td class="report-content-cell">
                    <div class="main">
                        <div>
                            <div>
                                <table class="bordered condensed">
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                    </colgroup>
                                    <tr>
                                        <td colspan="7" style="background-color: black;color: white;height: 3em;padding-top: 5px;padding-bottom: 5px;"><b>ONSITE RECORD</b><br />On-site record must be retained with TMP for 12 months.</td>
                                        <td class="header2">Today's date</td>
                                        <td colspan="2">{{todaysDate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="header2" style="height: 7em;vertical-align: top;text-align: left;">Location details</td>
                                        <td colspan="3" style="vertical-align: top;text-align: left;">Road names(s): {{address}}</td>
                                        <td colspan="3" style="vertical-align: top;text-align: left;">House number/RPs: {{rps}}</td>
                                        <td colspan="3" style="vertical-align: top;text-align: left;">Suburb:</td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-top: 5px;">
                                <!-- Working space -->
                                <table class="bordered condensed">
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                    </colgroup>
                                    <tr>
                                        <td colspan="10" class="header1"><b>Working space</b></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" colspan="1" style="border-bottom: none; text-align: left;" class="header2"><b>Person responsible for working space</b></td>
                                        <td colspan="4" class="dbl-height">{{onsitecontact}}</td>
                                        <td colspan="5" style="padding: 0;"><img src="{{onsitecontactsignature}}" style="height: 40px;" /></td>
                                    </tr>
                                    <tr class="header3">
                                        <td colspan="4"><i>Name</i></td>
                                        <td colspan="5"><i>Signature</i></td>
                                    </tr>
                                    <tr>
                                        <td colspan="10" class="header2" style="border-top: none;text-align: left; font-weight: normal;"><i>Where the STMS/TC is responsible for both the working space and TTM they sign above and in the appropriate TTM box below</i></td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-top: 5px;">
                                <!-- TTM -->
                                <table class="bordered condensed">
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                    </colgroup>
                                    <tr>
                                        <td colspan="10" class="header1"><b>TTM</b></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2" colspan="1" style="text-align: left;" class="header2"><b>STMS in charge of TTM</b></td>
                                        <td class="dbl-height" colspan="2">{{stmsfullName}}</td>
                                        <td colspan="2">{{stmsCertificationNo}}</td>
                                        <td colspan="2">{{expiryDate}}</td>
                                        <td colspan="2"><img src="{{signiture}}" style="width: 120px; max-height: 40px;" /></td>
                                        <td colspan="1">{{stmsTime}}</td>
                                    </tr>
                                    <tr class="header3 header3i">
                                        <td colspan="2">Name</td>
                                        <td colspan="2">TTM ID Number</td>
                                        <td colspan="2">Warrant expiry date</td>
                                        <td colspan="2">Signature</td>
                                        <td colspan="1">Time</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3" colspan="1" style="text-align: left;" class="header2"><b>Worksite handover accepted by replacement STMS</b></td>
                                        <td class="dbl-height" colspan="2"></td>
                                        <td colspan="2"></td>
                                        <td colspan="2"></td>
                                        <td colspan="2"></td>
                                        <td colspan="1"></td>
                                    </tr>
                                    <tr class="header3 header3i">
                                        <td colspan="2">Name</td>
                                        <td colspan="2">TTM ID Number</td>
                                        <td colspan="2">Warrant expiry date</td>
                                        <td colspan="2">Signature</td>
                                        <td colspan="1">Time</td>
                                    </tr>
                                    <tr>
                                        <td class="header3" colspan="2"><b>Tick to confirm handover briefing completed</b></td>
                                        <td class="dbl-height" colspan="2"></td>
                                    </tr>
                                </table>
                            </div>
                            <div style="margin-top: 5px;">
                                <!-- Delegation -->
                                <table class="bordered condensed">
                                    <colgroup>
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                        <col width="10%" />
                                    </colgroup>
                                    <tr>
                                        <td colspan="10" class="header1"><b>Delegation</b></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3" colspan="1" style="text-align: left;" class="header2"><b>Worksite control accepted by TC/STMS-NP</b></td>
                                        <td class="dbl-height" colspan="2"></td>
                                        <td colspan="2"></td>
                                        <td colspan="2"></td>
                                        <td colspan="2"></td>
                                        <td colspan="2"></td>
                                    </tr>
                                    <tr class="header3 header3i">
                                        <td colspan="2">Name</td>
                                        <td colspan="2">TTM ID Number</td>
                                        <td colspan="2">Warrant expiry date</td>
                                        <td colspan="2">Signature</td>
                                        <td colspan="2">Time</td>
                                    </tr>
                                    <tr>
                                        <td class="header3" colspan="2"><b>Tick to confirm briefing completed</b></td>
                                        <td colspan="2"></td>
                                    </tr>
                                </table>
                            </div>
                            <!--replace this section with the tsls-->
                            <div style="margin-top: 5px;">
                                <!-- Temporary speed limit -->
                                {{tsls}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot class="report-footer">
            <tr>
                <td class="report-footer-cell">
                    <div class="footer-container">
                        <div class="bottom">
                            <table style="width: 100%;font-size:11px;">
                                <tr>
                                    <td><i>Traffic control devices manual</i> part 8 CoPTTM</td>
                                    <td>Section E, appendix A: Traffic management plans</td>
                                    <td style="text-align: right;padding-right: 10px;">Edition 4, April 2020</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: center;">Page 1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    {{moreTsls}}
    {{pageContent}}
    {{truckReport}}
    {{toolBoxReport}}
    {{gearleftReport}}
</body>
</html>