<table class="report-container">
    <tbody class="report-content">
        <tr>
            <td class="report-content-cell">
                <div class="main">
                    <div style="margin-top: 5px;">
                        <table class="bordered condensed">
                            <colgroup>
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                                <col width="10%" />
                            </colgroup>
                            <tr>
                                <td colspan="10" class="header1"><b>Temporary speed limit</b></td>
                            </tr>
                            {{tsls}}
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot class="report-footer">
        <tr>
            <td class="report-footer-cell">
                <div class="footer-container">
                    <div class="bottom">
                        <table style="width: 100%;font-size:11px;">
                            <tr>
                                <td><i>Traffic control devices manual</i> part 8 CoPTTM</td>
                                <td>Section E, appendix A: Traffic management plans</td>
                                <td style="text-align: right;padding-right: 10px;">Edition 4, April 2020</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: center;">Page {{pageNumber}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </tfoot>
</table>