<table class="bordered condensed">
    <colgroup>
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
    </colgroup>
    <tr>
        <td colspan="10" class="header1"><b>Temporary speed limit</b></td>
    </tr>
    {{tsls}}
</table>